<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="applicable-device" content="pc">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>abc国际儿童英语教育</title>
	<meta name="description" content="abc少儿英语">
	<meta name="keywords" content="儿童英语,幼儿英语,少儿英语,英语学习,如何教育孩子,幼教,育儿,幼儿英语班,abc英语">
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/theme.css" rel="stylesheet">
	<link href="../css/prettyPhoto.css" rel="stylesheet" type="text/css"/>
	<link href="../css/zocial.css" rel="stylesheet" type="text/css"/>
	<link href="../css/font-awesome.min.css" rel="stylesheet">
	<link href="../css/settings.css" rel="stylesheet" type="text/css"/>
	<link href="../css/alt_footer.css" rel="stylesheet" type="text/css"/>
	<link href="../css/main.css" rel="stylesheet">
	<link href="../css/add.css" rel="stylesheet">

	
	<script type="text/javascript">
	/*
		function browserRedirect() {
			var sUserAgent = navigator.userAgent.toLowerCase();
				var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
			var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
			var bIsMidp = sUserAgent.match(/midp/i) == "midp";
			var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
			var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
			var bIsAndroid = sUserAgent.match(/android/i) == "android";
			var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
			var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
			if ( bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
			//移动端地址
				window.location.href="http://www.firstleap.cn/m";
			}
		}
		browserRedirect();
		*/
	</script>

	<style>
		.vjs-poster{
			background-size: 100% 100%;
		}
		.video-js, .vjs-no-js{
			background-size: 100% 100%;
			background-color: #2f67af;
		}
		#mi3_videowrap {
			Z-INDEX: 1006; POSITION: absolute; TEXT-ALIGN: right; PADDING-BOTTOM: 4px; PADDING-LEFT: 17px; WIDTH: 600px; PADDING-RIGHT: 17px; DISPLAY: none; BACKGROUND: #e6e4e3; HEIGHT:374px;border-radius: 6px;
			MARGIN-LEFT: -240px; OVERFLOW: hidden; TOP: 200px; PADDING-TOP: 0px; LEFT: 45%;
		}
		#mi3_videowrap .close {
			LINE-HEIGHT: 20px; COLOR: #333;
			opacity: 0.5;
		}
		.tile1 h3{
			color:#000;
			margin-top: 20px；
		}
	</style>
</head>
<body>
<div class="header">
	<div class="container" >
		<!--logo-->
		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<i class="fa fa-bars"></i></button>
		<div class="logo">
			<a href="index.html"><img src="../img/logo.png" alt="abc英语" /></a>
		</div>
		<!--menu-->
		<nav id="main_menu">
			<div class="nav-collapse collapse">
				<ul class="nav nav-pills">
					<li class="dropdown "><a href="index.html">首页</a>
					</li>
					<li class="dropdown">
					<a href="javascript:void(0)">课程体系</a>
						<ul class="dropdown-menu">
							<li>
								<a href="course.html">青少年英语</a>
							</li>
							<li>
								<a href="train.html">企业培训</a>
							</li>
							<li>
								<a href="summerCamp.html">冬夏令营</a>
							</li>
							<li>
								<a href="yoosure.html">国际留学</a>
							</li>
							<li>
								<a href="coaching.html">全科辅导</a>
							</li>
							<li>
								<a href="holiday.html">寒暑假辅导</a>
							</li>
						</ul>
					</li>
					<li class="dropdown"><a href="nation.html">全国校区</a>
					</li>
					<li class="dropdown">
						<a href="cooperate.html">授权合作</a>
					</li>
					<li class="dropdown active active1">
						<a href="javascript:void(0)">关于我们</a>
						<ul class="dropdown-menu">
							<li>
								<a href="aboutUs.html" style='color:#029AFF'>品牌介绍</a>
							</li>
							<li>
								<a href="activity.html">精彩活动</a>
							</li>
							<li>
								<a target="_blank" href="http://special.zhaopin.com/2017/bf/abcw050392/">企业招聘</a>
							</li>
							<li>
								<a target="_blank" href="http://talk.abc.com.cn">在线学习</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<!--//header-->

<div style="border-top:1px solid #e9e6e1;">
	<div class="container">
	<div class="inner_content">
	<h1 class="leapD">关于ABC</h1>
	<p>
	<h4 class="intro">
	ABC 教育集团是一家以外语培训为核心，集培训、研发、图书杂志音像出版、出国留学服务、职业教育、在线教育及教育软件研发为一体的大型综合性教育集团。与1995年在哈尔滨成立，总部设在北京，员工超过1000人。目前在北京、哈尔滨、长沙、广州、宁波等多座城市开设30家直营分校。2011年ABC美国分部正式运营，迈出了国际化进军的第一步，2014与加拿大哥伦比亚国际英语学院结尾姊妹校。ABC教育集团，历时二十载，用独特的教学方法与良好的口碑，打造出了自主教学品牌。ABC外语学校英语教育研发团队与清华大学语言专家共同研发了ABC英语权威教材，并由北京出版社出版，独特权威教材贴近广大学员英语学习需求，令数十万学员英语学习受益匪浅。此外，ABC外语学校与全球最大教育服务提供商培生公司合作，引进高端原版少儿英语教材和高端美国原版少儿英语教材，为更多中国青少年儿童提供更优质的英语学习平台。</h4>
	</p>
	<p>
	<h4 class="intro">
	此外，ABC外语学校还在美国、加拿大、澳洲等地开设远程在线教育、实用口语。强烈的社会责任感、不断创新的发展理念，高品质的英语教学、贴心的人性化服务终将使ABC外语学校久立业界翘楚之巅！
	</h4>
	</p>
	
	</div>
	</div>
</div>

<div id="banner">
	&nbsp;
</div>
<div class="wrapper" style="padding-top: 0px">
	<div class="container">
		<div class="inner_content">
			<h1 class="leapD">ABC英语荣誉历程</h1>
			<!--info boxes-->
			<div class="row" style="margin-top: 35px">
				<div class="span3 span4">
					<div class="tile1" style="">
						<img alt="教授英语学习方法"  src="../img/duzhezuiai.png"/>
						<h3>读者最爱英语培训机构</h3>
					</div>
				</div>
				<div class="span3 span4">
					<div class="tile1">
						<img alt="全科国际学校课程" src="../img/beijingxianjinminban.png" />
							<h3>北京市先进民办ABC</h3>
					</div>
				</div>
				<div class="span3 span4">
					<div class="tile1">
						<img alt="全科高阶课程" src="../img/zhongguoqidashangwu.png"/>
							<h3>全国七大商务英语品牌</h3>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 35px">
				<div class="span3 span4">
					<div class="tile1" style="">
						<img alt="Real Life"  src="../img/youxiuremenyingyu.png"/>
						<h3>优秀热门英语学习方法</h3>
					</div>
				</div>
				<div class="span3 span4">
					<div class="tile1">
						<img alt="KET/PET/FCE" src="../img/youxliuqingshaonian.png" />
							<h3>优秀青少年英语培训机构</h3></a>
					</div>
				</div>
				<div class="span3 span4">
					<div class="tile1">
						<img alt="留学直通车" src="../img/quanguoshidayingyupeixun.png"/>
							<h3>全国十大英语培训机构</h3>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<div class="pad25"></div>
<div class="wrapper" style="padding-top: 0px">
	<div class="container">
		<div class="inner_content">
			<!--info boxes-->
			<div class="row" style="margin-top: 35px">
						<img alt="课程级别"  src="../img/jiangxiang.png"/>
			</div>
		</div>
		<!--//page-->
	</div>
</div>


<!-- footer 2 -->
 <div id="footer_alt" style="margin-top:0px;">
	<div class="container" style="width:1070px;"><div class="row">
		<!--column 1-->
		<div class="span3"  style="width:350px;">
			<h2>关于ABC</h2>
			<ul>
				<li>
					<p>
						ABC  教育集团是以外语培训为核心，集培训、研发、图书杂志音像出版、出国留学、 职业教育、 在线教育及教育软件研发为一体的大型综合教育集团。 目前在北京、 哈尔滨、 长沙、 广州、 宁波等多座城市开设23家直营分校。2011年ABC美国分部正式运营，迈出国际化进军的第一步，2014年与加拿大哥伦比亚国际学院结为姊妹校。历史二十载，用独特的教育方法和良好的口碑，打造出自主教学品牌。
					</p>
				</li>
			</ul>
		</div>
		<!--column 2-->
		<div class="span3" style="width:400px;">
			<h2>ABC课程</h2>
			<ul class="media-list">
				<li class="media">
					<div class="media-body">
						<a target='_blank' href="course.html">青少年口语</a>
						<a target='_blank' style='margin-left:30px;' href="http://special.zhaopin.com/2017/bf/abcw050392/">ABC招聘</a>
				</li>
				<li class="media">
					<div class="media-body">
						<a target='_blank' href="foreign.html">全外教口语</a>
						<a target='_blank' style='margin-left:30px;' href="cooperate.html">授权合作</a>
						<a class="btn btn-primary btn-custom btn-rounded " href="javascript:{}" style="margin-left:30px;padding:8px 25px;" onclick="TQKF.kefuimg.Distrabute()"><b>在线咨询</b></a>
					</div>
				</li>
				<li class="media">
					<div class="media-body">
						<a target='_blank' href="kaoji.html">国际考试类</a>
						<a target='_blank' style='margin-left:30px;' href="aboutUs.html">了解ABC</a>
						<h3 style="margin-left:30px;display:inline"><i class="fa fa-phone hue"></i>400-661-9888</h3>
				</li>
			</ul>
					<p style="font-size:18px;margin-top:30px;">
						All rights reserved Copyright &copy;
						ABC教育集团<br/>
					</p>
		</div>
		<div class="span4" style="width:230px;">
			
			<div class="follow_us2">
				<h3>关注我们</h3>
				<div style="display:inline;position:relative;">
					<img style="width:49%;" src="../img/share/wechat.png">
					<div style="left:22%;position:absolute;">微信二维码</div>
				</div>

				<div style="display:inline;position:relative;">
					<img style="width:49%;" src="../img/share/sina.png">
					<div style="position:absolute;left:22%">微博二维码</div>
				</div>
					
			</div>
		</div>

	</div>
	</div>
</div>
<!--表单部分-->
<div id="building-blocks" class="hidden-xs activated animated slideInRight modal1" >
	<div id="learn-more-flyout" class="block learn-more-block" style="">
		<div class="tab" id="tab" style="writing-mode: vertical-lr;padding-left:1rem;">预约试听</div>
		<div class="content form-wrapper seq-container" id="bd" style="display: none">
			<div class="inner-content"> <i class="icon-remove-circle icon-2x close"></i>
				<div style="width:274px;margin:10px 25px 0;">
					<form id="test-drive-form" class="config-form" action="" method="post" accept-charset="UTF-8" onsubmit="return yanzheng();">
						<div>
							<div id="test-drive-details">
								<div id="message-error"></div>
								<div class="form-item form-type-textfield form-item-lastname-td">
									<input  class="translate form-text required parsley-error" type="text" name="name" id="name" size="60" maxlength="50" value="孩子姓名" onfocus="if(this.value == '孩子姓名') this.value = ''" onblur="if(this.value == '') this.value = '孩子姓名'">
									<ul class="parsley-errors-list filled" id="parsley-id-2843">
									</ul>
								</div>
								<div class="form-item form-type-select form-item-cities-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" name='sex' id="sex" >
					  <option value="">性别</option>
					  <option value="男">男</option>
					  <option value="女">女</option>
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-8167">
				  </ul>
                  </span> </div>
								<div class="form-item form-type-select form-item-cities-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" name="year" id="year" >
					  <option value="">年龄</option>
					  <option value="1-3岁">1-3岁</option>
					  <option value="3-4.5岁">3-4.5岁</option>
					  <option value="4.5-6岁">4.5-6岁</option>
					  <option value="6-8岁">6-8岁</option>
					  <option value="8-10岁">8-10岁</option>
					  <option value="10-15岁">10-15岁</option>
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-8167">
				  </ul>
                  </span> </div>
								<div class="form-item form-type-textfield form-item-phonenumber-td">
									<input  class="translate form-text required" value="电话号码" type="text" name="phone" id="phone" size="60" onfocus="if(this.value == '电话号码') this.value = ''" onblur="if(this.value == '') this.value = '电话号码'" >
									<ul class="parsley-errors-list" id="parsley-id-3642">
									</ul>
								</div>
								<div class="form-item form-type-select form-item-provinces-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" data-parsley-trigger="change" name="province" id="province" >
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-4424">
				  </ul>
                  </span> </div>
								<div class="form-item form-type-select form-item-cities-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" data-parsley-trigger="change" name="city" id="city" >
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-8167">
				  </ul>
                  </span> </div>
							</div>
						</div>
						<input class="btn btn-block btn-turquoise submit" type="submit" value="提交" >
					</form>
					<p class="learn-more-privacy-note">
						我们会尽可能在24小时内联系您<br>
						<b>无需等待，可直接致电400-661-9888</b></p>
				</div>
			</div>
		</div>
	</div>

	<div id="learn-more-flyout" class="block learn-more-block" style="">
		<div class="tab1" style="writing-mode: vertical-lr;padding-left:1rem;"><a href="javascript:{}" style="color:white" onclick="TQKF.kefuimg.Distrabute()">在线咨询</a></div>
	</div>
	<div id="learn-more-flyout" class="block block2 learn-more-block" style="">
		<div class="tab2" style="position:relative;writing-mode: vertical-lr;padding-left:0.7rem;padding-top:0.7rem;">
			<img src="../img/weixin.png" width="60%" />
		</div>
		<div id="erweima" style="position:absolute;left:-8rem;bottom:-22px;display:none;" >
			<img src="../img/erweima.png" width="120px" />
		</div>
	</div>


</div>


<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/city.js" type="text/javascript"></script>
<script type="text/javascript" src="../js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="../js/jquery.themepunch.plugins.min.js"></script>
<!-- slider settings -->
<script src="../js/formValidate.js"></script>
<script src="../js/jquery.touchSwipe.min.js"></script>
<script src="../js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="../js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="../js/scripts.js"></script>
<script>
	tab.onclick = function(){
		document.getElementById("bd").style.display = "block";
		document.getElementById("bd").style.background = "#e9e8e8";
	}
</script>
<script>
	init_city(city_datas,'province','city');
	//<![CDATA[
	$(document).ready(function() {
		if ($.fn.cssOriginal!=undefined)
			$.fn.css = $.fn.cssOriginal;
		$('.fullwidthbanner').revolution(
				{
					delay:5700,
					startwidth:1170,
					startheight:550,
					onHoverStop:"on",
					navigationType:"none",
					soloArrowLeftHOffset:0,
					soloArrowLeftVOffset:0,
					soloArrowRightHOffset:0,
					soloArrowRightVOffset:0,
					touchenabled:"on",
					fullWidth:"on",
					shadow:0,
					videoJsPath:"js/videojs/"
				});
	});
	//]]>
</script>

<SCRIPT type=text/javascript>
	function get(p){
//var url=location.search;
		var url= document.URL.toString();
		var tmpStr=p+"=";
		var tmp_reg=eval("/[\?&]"+tmpStr+"/i");
		if(url.search(tmp_reg)==-1)return null;
		else{
			var a=url.split(/[\?&]/);
			for(var i=0;i<a.length;i++)
				if(a[i].search(eval("/^"+tmpStr+"/i"))!=-1)return a[i].substring(tmpStr.length);
		}
	}
	var Par = document.getElementsByTagName("form");
	for(var i=0;i<Par.length;i++){
		var newinput = document.createElement("input");
		newinput.type="hidden";
		newinput.name="ad";
		newinput.value=get("ad");
		Par[i].appendChild(newinput);
	}
</SCRIPT>
<!-- carousel -->
<script type="text/javascript" src="../js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript">
	//<![CDATA[
	jQuery(document).ready(function($) {
		$("#slider_home").carouFredSel({ width : "100%", height : "auto",
			responsive : true,  circular : true, infinite	: false, auto : false,
			items : { width : 231, visible: { min: 1, max: 3 }
			},
			swipe : { onTouch : true, onMouse : true },
			scroll: { items: 3, },
			prev : { button : "#sl-prev", key : "left"},
			next : { button : "#sl-next", key : "right" }
		});
	});
	//]]>
</script>
<script language="JavaScript" src="http://float2006.tq.cn/floatcard?adminid=8818889&amp;sort=0"></script>

</body>
</html>
