<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="applicable-device" content="pc">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>abc国际儿童英语教育</title>
	<meta name="description" content="abc少儿英语">
	<meta name="keywords" content="儿童英语,幼儿英语,少儿英语,英语学习,如何教育孩子,幼教,育儿,幼儿英语班,abc英语">
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/theme.css" rel="stylesheet">
	<link href="../css/prettyPhoto.css" rel="stylesheet" type="text/css"/>
	<link href="../css/zocial.css" rel="stylesheet" type="text/css"/>
	<link href="../css/font-awesome.min.css" rel="stylesheet">
	<link href="../css/settings.css" rel="stylesheet" type="text/css"/>
	<link href="../css/alt_footer.css" rel="stylesheet" type="text/css"/>
	<link href="../css/main.css" rel="stylesheet">
	<link href="../css/add.css" rel="stylesheet">

	
	<script type="text/javascript">
	/*
		function browserRedirect() {
			var sUserAgent = navigator.userAgent.toLowerCase();
				var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
			var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
			var bIsMidp = sUserAgent.match(/midp/i) == "midp";
			var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
			var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
			var bIsAndroid = sUserAgent.match(/android/i) == "android";
			var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
			var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
			if ( bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
			//移动端地址
				window.location.href="http://www.firstleap.cn/m";
			}
		}
		browserRedirect();
		*/
	</script>

	<style>
		.vjs-poster{
			background-size: 100% 100%;
		}
		.video-js, .vjs-no-js{
			background-size: 100% 100%;
			background-color: #2f67af;
		}
		
		.title1{
			margin-bottom:5px;
			background: linear-gradient(to right, #029AFF, white);
			color:#fff;
			padding-left:30px;
		}
		.content{
			margin-left:24px;
			margin-top:-50px;
			color:#666666;
		}
		#mi3_videowrap {
			Z-INDEX: 1006; POSITION: absolute; TEXT-ALIGN: right; PADDING-BOTTOM: 4px; PADDING-LEFT: 17px; WIDTH: 600px; PADDING-RIGHT: 17px; DISPLAY: none; BACKGROUND: #e6e4e3; HEIGHT:374px;border-radius: 6px;
			MARGIN-LEFT: -240px; OVERFLOW: hidden; TOP: 200px; PADDING-TOP: 0px; LEFT: 45%;
		}
		#mi3_videowrap .close {
			LINE-HEIGHT: 20px; COLOR: #333;
			opacity: 0.5;
		}
	</style>
</head>
<body>
<div class="header">
	<div class="container" >
		<!--logo-->
		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<i class="fa fa-bars"></i></button>
		<div class="logo">
			<a href="index.html"><img src="../img/logo.png" alt="abc英语" /></a>
		</div>
		<!--menu-->
		<nav id="main_menu">
			<div class="nav-collapse collapse">
				<ul class="nav nav-pills">
					<li class="dropdown"><a href="index.html">首页</a>
					</li>
					<li class="dropdown">
					<a href="javascript:void(0)">课程体系</a>
						<ul class="dropdown-menu">
							<li>
								<a href="course.html">青少年英语</a>
							</li>
							<li>
								<a href="train.html">企业培训</a>
							</li>
							<li>
								<a href="summerCamp.html">冬夏令营</a>
							</li>
							<li>
								<a href="yoosure.html">国际留学</a>
							</li>
							<li>
								<a href="coaching.html">全科辅导</a>
							</li>
							<li>
								<a href="holiday.html">寒暑假辅导</a>
							</li>
						</ul>
					</li>
					<li class="dropdown"><a href="nation.html">全国校区</a>
					</li>
					<li class="dropdown">
						<a href="cooperate.html">授权合作</a>
					</li>
					<li class="dropdown  active active1">
						<a href="javascript:void(0)">关于我们</a>
						<ul class="dropdown-menu">
							<li>
								<a href="aboutUs.html">品牌介绍</a>
							</li>
							<li>
								<a href="activity.html" style='color:#029AFF'>精彩活动</a>
							</li>
							<li>
								<a target="_blank" href="http://special.zhaopin.com/2017/bf/abcw050392/">企业招聘</a>
							</li>
							<li>
								<a target="_blank" href="http://talk.abc.com.cn">在线学习</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<!--//header-->
<div id="banner">
		<div class="container intro_wrapper">
			<div class="inner_content">
				<h1 class="leapD">精彩活动</h1>
				<div style="width:60%;font-size:16px;margin-top:10px;">
				ABC外语学校多年来一直开展丰富多彩的校园活动，受邀进驻多所公立校分享快乐英语
					课堂，多次担任期末英语“乐考”考官，举办各类英语大赛、西方节日派对、精彩纷呈
					的教师活动等。
				</div>
				
			</div>
		</div>
	</div>

<div class="wrapper1" >
	<div class="container">
		<div class="inner_content">
			<h1 class="leapY">ABC受邀进驻公立校</h1>
			<!--info boxes-->
			<div class="row" style="margin-top: 25px">
				<div class="title1" style="">
				<h2>ABC受邀进驻公立校</h2>
				</div>
			</div>
			<div class="row">
				<div class="span3">
					<div class="tile tile1 " style="">
						<img alt="教授英语学习方法"  src="../img/activity/gonglixiao1.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img alt="全科国际学校课程" src="../img/activity/gonglixiao2.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img alt="全科高阶课程" src="../img/activity/gonglixiao3.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img alt="全科高阶课程" src="../img/activity/gonglixiao4.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img alt="全科高阶课程" src="../img/activity/gonglixiao5.png"/>
					</div>
				</div>
				
			</div>
				<div class="content">
					<h4>ABC 多次受邀担任公立校期末考试“乐考”英语口语考官，ABC 具有亲和力的中外教老师，亲切的和孩子们用英语交流，ABC更注重英语学习的实用性让孩子们听说读写均衡发展。</h4>
				</div>

			<div class="row">
				<div class="span3">
					<div class="tile tile1 " style="">
						<img alt="教授英语学习方法"  src="../img/activity/gonglixiao6.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img alt="全科国际学校课程" src="../img/activity/gonglixiao7.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img alt="全科高阶课程" src="../img/activity/gonglixiao8.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img alt="全科高阶课程" src="../img/activity/gonglixiao9.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img alt="全科高阶课程" src="../img/activity/gonglixiao10.png"/>
					</div>
				</div>
				
			</div>
				<div class="content">
				<h4>ABC外语学校的“魔法”老师们走进各所著名公立小学的英语课堂，英语学习变得轻松而快乐，ABC外语学校让每一个孩子从深深的喜爱上英语开始，
真正的让英语变成一种交流工具，而不是学习的负担。在ABC老师的组织下，开展了多场大型英语汇报演出。
</h4>
				</div>
			<h1 class="leapY" style="margin-top:50px;">“ABC杯”英语大赛</h1>
			<div class="row" style="margin-top: 10px">
				<div class="title1" style="">
				<h2>ABC各类英语大赛</h2>
				</div>
			</div>
			<div class="row">
				<div class="span3">
					<div class="tile tile1 " style="">
						<img  src="../img/activity/yingyudasai.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/yingyudasai2.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/yingyudasai3.png"/>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top:30px;">
				<div class="content">
				<h4>ABC 多次受邀担任公立校期末考试“乐考”英语口语考官，ABC 具有亲和力的中外教老师，亲切的和孩子们用英语交流，ABC更注重英语学习的实用性让孩子们听说读写均衡发展。</h4>
				</div>
			</div>
			
			<div class="row" style="margin-top: 10px">
				<div class="title1" style="">
				<h2>ABC携手中国网举办双语小记者大赛</h2>
				</div>
			</div>
			<div class="row" >
				<div class="span3">
					<div class="tile tile1 " style="">
						<img  src="../img/activity/xiaojizhe.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/xiaojizhe2.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/xiaojizhe3.png"/>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top:30px;">
				<div class="content">
				<h4>ABC教育集团与中国互联网新闻中心，联手主办的首届“双语小记者”全国评选活动。</h4>
				</div>
			</div>
			
			
			
			<div class="row" style="margin-top: 10px">
				<div class="title1" style="">
				<h2>ABC冬奥英语传播大使评选活动</h2>
				</div>
			</div>
			<div class="row" >
				<div class="span3">
					<div class="tile tile1 " style="">
						<img  src="../img/activity/chuanbodashi.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/chuanbodashi2.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/chuanbodashi3.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/chuanbodashi4.png"/>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top:30px;">
				<div class="content">
				<h4>ABC 冬奥英语传播大使评选活动，为了更好地激发青少年学习英语的热情，调动学习英语的积极性，带动青少年积极参与到社会实践当中，ABC外语学校面向全国举办“ABC冬奥英语传播大使“评选活动。</h4>
				</div>
			</div>
			
			
			<div class="row" style="margin-top: 10px">
				<div class="title1" style="">
				<h2>ABC超级小演说家大赛</h2>
				</div>
			</div>
			<div class="row" >
				<div class="span3">
					<div class="tile tile1 " style="">
						<img  src="../img/activity/yanshuo.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/yanshuo2.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/yanshuo3.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/yanshuo4.png"/>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top:30px;">
				<div class="content">
				<h4>ABC超级小演说家大赛，是锻炼孩子能力的最好舞台，培养孩子自信心和表现力的最佳选择；给孩子一个展示自己的机会，让他的学习生活变得丰富多彩！</h4>
				</div>
			</div>
			
			
			<div class="row" style="margin-top: 10px">
				<div class="title1" style="">
				<h2>ABC感恩之星评选活动</h2>
				</div>
			</div>
			<div class="row" >
				<div class="row" >
				<div class="span3">
					<div class="tile tile1 " style="">
						<img  src="../img/activity/xingping.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/xingping2.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/20180418182631.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/xingping4.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/xingping5.png"/>
					</div>
				</div>
			</div>
			</div>
			
			<div class="row" style="margin-top:30px;">
				<div class="content">
				<h4>为了更好地培养孩子的感恩意识，也为ABC学员提供更多锻炼的机会和展示的舞台，ABC开展了融合西方感恩节元素的感恩之星评选大赛。</h4>
				</div>
			</div>
			
			
			<div class="row" style="margin-top: 10px">
				<div class="title1" style="">
				<h2>ABC英语趣配音大赛</h2>
				</div>
			</div>
			<div class="row" >
				<div class="span3">
					<div class="tile tile1 " style="">
						<img  src="../img/activity/peiyin.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/peiyin2.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/peiyin3.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/peiyin4.png"/>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top:30px;">
				<div class="content">
				<h4>ABC英语趣配音大赛，丰富了孩子的暑假生活，为孩子们在轻松过暑假的同时，提供了一个练习英语的平台，展示了小学员们的英语功底，模仿能力，回归了英语学习的实用性。</h4>
				</div>
			</div>
			
			
			
			
			<h1 class="leapY">ABC精彩纷呈的学员活动</h1>
			<!--info boxes-->
			<div class="row" style="margin-top: 25px">
				<div class="title1" style="">
				<h2>ABC学员万圣节派对</h2>
				</div>
			</div>
			<div class="row" >
				<div class="span3">
					<div class="tile tile1 " style="">
						<img  src="../img/activity/wanshengjie.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/wanshengjie2.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/wanshengjie3.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/wanshengjie4.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/wanshengjie5.png"/>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top:30px;">
				<div class="content">
				<h4>这是一个充满神秘的夜晚，小探险家们的密室逃脱，万圣节的欢声笑语，游戏抽奖的惊喜欢乐，整个校区都回荡着“Happy Halloween”的浓浓节日气息。ABC外语学校每年都举办万圣节派对，让孩子们感受最纯正的西方文化，快乐学英语，爱上学英语。</h4>
				</div>
			</div>
			
			
			
			
			<div class="row" style="margin-top: 25px">
				<div class="title1" style="">
				<h2>ABC圣诞节主题派对</h2>
				</div>
			</div>
			<div class="row" >
				<div class="span3">
					<div class="tile tile1 " style="">
						<img  src="../img/activity/zhutipaiduia.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/zhutipaiduia2.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/zhutipaiduia3.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/zhutipaiduia4.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/zhutipaiduia5.png"/>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top:30px;">
				<div class="content">
				<h4>ABC外语学校，每年圣诞节前夕，都会举办热闹非凡的圣诞节主题派对，老师们都穿上红色的节日服装，给孩子们精心准备节日礼物，让圣诞老人来到孩子们身边。</h4>
				</div>
			</div>
			
			
			<div class="row" style="margin-top: 25px">
				<div class="title1" style="">
				<h2>ABC“童行天下”大型亲子英语主题自驾游活动</h2>
				</div>
			</div>
			<div class="row" >
				<div class="span3">
					<div class="tile tile1 " style="">
						<img  src="../img/activity/tongxingtianxia.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/tongxingtianxia2.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/tongxingtianxia3.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/tongxingtianxia4.png"/>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top:30px;">
				<div class="content">
				<h4>ABC教育集团携手北京行天下汽车俱乐部，2016年“童行天下”大型亲子主题自驾游系列活动。ABC不只教英语，更一直在为孩子们创造一个美好快乐的童年而努力！让英语与快乐同行！</h4>
				</div>
			</div>
			
			
			<div class="row" style="margin-top: 25px">
				<div class="title1" style="">
				<h2>ABC学员“拍卖会”</h2>
				</div>
			</div>
			<div class="row" >
				<div class="span3">
					<div class="tile tile1 " style="">
						<img  src="../img/activity/paimaihui.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/paimaihui2.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/paimaihui3.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/paimaihui4.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/paimaihui5.png"/>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top:30px;">
				<div class="content">
				<h4>ABC圣诞拍卖会，孩子们带上自己上课奖励的精灵卡，拍卖会上拍到自己心仪的礼物， ABC的孩子们如此富有！收获了知识，赚到了“钱”，还能“一掷千金”独自一人参加拍卖会，做人生中关于理财的重要决定。</h4>
				</div>
			</div>
			
			
			<h1 class="leapY">ABC丰富多彩的教师活动</h1>
			<!--info boxes-->
			<div class="row" style="margin-top: 25px">
				<div class="title1" style="">
				<h2>ABC月评大会</h2>
				</div>
			</div>
			<div class="row" >
				<div class="span3">
					<div class="tile tile1 " style="">
						<img  src="../img/activity/yuepingdahui.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/yuepingdahui2.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/yuepingdahui3.png"/>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top:30px;">
				<div class="content">
				<h4>ABC外语学校每个月都会举办“教师月评大会”为表现优异的老师颁发奖励，在评比中，老师们优胜劣汰，更加注重教学效果，全心全意为孩子们的英语学习而努力。</h4>
				</div>
			</div>
			
			
			<div class="row" style="margin-top: 25px">
				<div class="title1" style="">
				<h2>“奔跑吧ABC ”大型教师乐跑活动</h2>
				</div>
			</div>
			<div class="row" >
				<div class="span3">
					<div class="tile tile1 " style="">
						<img  src="../img/activity/benpao.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/benpao2.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/benpao3.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/benpao4.png"/>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top:30px;">
				<div class="content">
				<h4>ABC教师主题月评大会，以奔跑为主题，全程畅跑4公里，ABC外语学校的老师们，努力奔跑，在通往目标的道路上，从未停止脚步。</h4>
				</div>
			</div>
			
			
			<div class="row" style="margin-top: 25px">
				<div class="title1" style="">
				<h2>“ABC超越，登顶” 登山活动</h2>
				</div>
			</div>
			<div class="row" >
				<img  src="../img/activity/dengshan.png"/>
				
			</div>
			<div class="row" style="margin-top:60px;">
				<div class="content">
				<h4>ABC外语学校就拥有的这样一批充满青春活力的教师团队，认真，负责是他们的代名词，爱心满满，积极乐观是他们的品格，  ABCer，向着一个目标进
发，用行动证明了我们的活力，用事实证明了我们团队的爆发力，途中的互帮互助，不让一个人掉队，途中的坚持向上，携手走向更高处。</h4>
				</div>
			</div>
			
			
			
			
			
			<div class="row" style="margin-top: 25px">
				<div class="title1" style="">
				<h2>“ABC乐分享”</h2>
				</div>
			</div>
			<div class="row" >
				<div class="span3">
					<div class="tile tile1 " style="">
						<img  src="../img/activity/lefenxiang.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/lefenxiang2.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/lefenxiang3.png"/>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top:30px;">
				<div class="content">
				<h4>“ABC乐分享”教师主题月评大会， 并以“乐分享”的访谈形式，分享了优秀教师们的宝贵经验！通过优秀教师的经验分享，更加让我们看到了ABC的
教师对学生们的爱，他们踏踏实实的做教学，用心维护每一位学员。</h4>
				</div>
			</div>
			
			
			
			<div class="row" style="margin-top: 25px">
				<div class="title1" style="">
				<h2>“ABC穿越唐朝”教师主题月评大会</h2>
				</div>
			</div>
			<div class="row" >
				<div class="span3">
					<div class="tile tile1 " style="">
						<img  src="../img/activity/chuanyue.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/chuanyue2.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/chuanyue3.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/chuanyue4.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/chuanyue5.png"/>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top:30px;">
				<div class="content">
				<h4>ABC每月的月评大会是20多年来的传统，我们用心做教学，把最好的教学质量回馈给广大学员。ABC主题教师月评大会—穿越唐朝这种大胆形式新颖创新的月评主题大会还是第一次，让每个人都眼前一亮......更加领略了我们ABC教师们的多才多艺。来自ABC全北京各个校区的近200名骨干教师代表，盛装出席，各个身怀绝技。惊鸿舞精美绝伦，话剧节目更是生动有趣。让台下的“陛下”和“嫔妃”大饱眼福！</h4>
				</div>
			</div>
			
			
			
			<div class="row" style="margin-top: 25px">
				<div class="title1" style="">
				<h2>“ABC童话王国”教师主题月评大会</h2>
				</div>
			</div>
			<div class="row" >
				<div class="span3">
					<div class="tile tile1 " style="">
						<img  src="../img/activity/tonghuawangguo.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/tonghuawangguo2.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/tonghuawangguo3.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/tonghuawangguo4.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/tonghuawangguo5.png"/>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top:30px;">
				<div class="content">
				<h4>本届教师节主题月评大会，ABC老师们化身童话中人物，有原始人、蓝精灵、白雪公主、机器猫、喜羊羊、花木兰等众多经典动画角色 ，老师们能唱能跳能演， 节目的专业度和精彩度，本届主题教师月评大会，我们一同走进了童话世界，现场沉浸在童真欢乐的气氛当中。永葆童心，不忘初心，是每位老师的愿望！ABC教师们一直努力成为，孩子们心目中最喜爱的老师！</h4>
				</div>
			</div>
			
			
			
			<div class="row" style="margin-top: 25px">
				<div class="title1" style="">
				<h2>“ABC歌舞青春”教师主题月评大会</h2>
				</div>
			</div>
			<div class="row" >
				<div class="span3">
					<div class="tile tile1 " style="">
						<img  src="../img/activity/gewuqingchun.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/gewuqingchun2.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/gewuqingchun3.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/gewuqingchun4.png"/>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top:30px;">
				<div class="content">
				<h4>他们不是歌手，却唱响了最动听的旋律，他们不是舞者，却跳出了最华丽的舞步，他们被无数学员深深喜爱，他们能歌善舞，激情四射。本届主题月评大会，ABC的老师们满力量的歌声和舞蹈，刮起一场ABC专属欧美青春动感风！</h4>
				</div>
			</div>
			
			
			
			<div class="row" style="margin-top: 25px">
				<div class="title1" style="">
				<h2>“ABC巨星驾到”教师主题月评大会</h2>
				</div>
			</div>
			<div class="row" >
				<div class="span3">
					<div class="tile tile1 " style="">
						<img  src="../img/activity/juxingjiadao.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/juxingjiadao2.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/juxingjiadao3.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/juxingjiadao4.png"/>
					</div>
				</div>
				<div class="span3">
					<div class="tile tile1 ">
						<img  src="../img/activity/juxingjiadao5.png"/>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top:30px;">
				<div class="content">
				<h4>ABC教师主题月评大会，众星云集 群星闪耀，有国际巨星的演唱，也有城乡结合的春晚，女神和女汉子同台PK跌破眼镜，暑假还没到，容嬷嬷竟然逆天归来。当唐僧师徒遇上了白雪公主...当爸爸去哪儿里的宝宝们长大了...当跑男里的“伐木累”变身英语达人...当深入人心的葫芦娃们再度回到荧屏...不得不说这样的夜晚美到令人陶醉，也让在场观众们笑到直不起腰... ABC的老师们一直力求做讲台上那颗最闪耀的巨星，给台下可爱的“观众们”展现出他们最耀眼的一面。可以是满腹诗书博学的，可以是搞笑无比欢乐的，可以是才华横溢令人惊叹的，可以是出其不意演绎精彩的。</h4>
				</div>
			</div>
			
		</div>
	</div>
</div>




<!-- footer 2 -->
<div id="footer_alt" style="margin-top:0px;">
	<div class="container" ><div class="row">
		<!--column 1-->
		<div class="span3"  style="width:390px;padding-right:20px;">
			<h2>关于ABC</h2>
			<ul>
				<li>
					<p>
						ABC  教育集团是以外语培训为核心，集培训、研发、图书杂志音像出版、出国留学、 职业教育、 在线教育及教育软件研发为一体的大型综合教育集团。 目前在北京、 哈尔滨、 长沙、 广州、 宁波等多座城市开设23家直营分校。2011年ABC美国分部正式运营，迈出国际化进军的第一步，2014年与加拿大哥伦比亚国际学院结为姊妹校。历史二十载，用独特的教育方法和良好的口碑，打造出自主教学品牌。
					</p>
				</li>
			</ul>
		</div>
		<!--column 2-->
		<div class="span3" style="width:420px;">
			<h2>ABC课程</h2>
			<ul class="media-list">
				<li class="media">
					<div class="media-body">
						<a target='_blank' href="course.html">青少年口语</a>
						<a target='_blank' style='margin-left:30px;' href="http://special.zhaopin.com/2017/bf/abcw050392/">ABC招聘</a>
				</li>
				<li class="media">
					<div class="media-body">
						<a target='_blank' href="foreign.html">全外教口语</a>
						<a target='_blank' style='margin-left:30px;' href="cooperate.html">授权合作</a>
						<a class="btn btn-primary btn-custom btn-rounded " href="javascript:{}" style="margin-left:30px;padding:8px 25px;" onclick="TQKF.kefuimg.Distrabute()"><b>在线咨询</b></a>
					</div>
				</li>
				<li class="media">
					<div class="media-body">
						<a target='_blank' href="kaoji.html">国际考试类</a>
						<a target='_blank' style='margin-left:30px;' href="aboutUs.html">了解ABC</a>
						<h3 style="margin-left:30px;display:inline"><i class="fa fa-phone hue"></i>400-661-9888</h3>
				</li>
			</ul>
					<p style="font-size:18px;margin-top:30px;">
						All rights reserved Copyright &copy;
						ABC教育集团<br/>
					</p>
		</div>
		<div class="span4" style="width:230px;">
			
			<div class="follow_us2">
				<h3>关注我们</h3>
				<div style="display:inline;position:relative;">
					<img style="width:49%;" src="../img/share/wechat.png">
					<div style="left:22%;position:absolute;">微信二维码</div>
				</div>
				<div style="display:inline;position:relative;">
					<img style="width:49%;" src="../img/share/sina.png">
					<div style="position:absolute;left:22%">微博二维码</div>
				</div>
					
			</div>
		</div>

	</div>
	</div>
</div>

<!--表单部分-->
<div id="building-blocks" class="hidden-xs activated animated slideInRight modal1" >
	<div id="learn-more-flyout" class="block learn-more-block" style="">
		<div class="tab" id="tab" style="writing-mode: vertical-lr;padding-left:1rem;">预约试听</div>
		<div class="content form-wrapper seq-container" id="bd" style="display: none">
			<div class="inner-content"> <i class="icon-remove-circle icon-2x close"></i>
				<div style="width:274px;margin:10px 25px 0;">
					<form id="test-drive-form" class="config-form" action="" method="post" accept-charset="UTF-8" onsubmit="return yanzheng();">
						<div>
							<div id="test-drive-details">
								<div id="message-error"></div>
								<div class="form-item form-type-textfield form-item-lastname-td">
									<input  class="translate form-text required parsley-error" type="text" name="name" id="name" size="60" maxlength="50" value="孩子姓名" onfocus="if(this.value == '孩子姓名') this.value = ''" onblur="if(this.value == '') this.value = '孩子姓名'">
									<ul class="parsley-errors-list filled" id="parsley-id-2843">
									</ul>
								</div>
								<div class="form-item form-type-select form-item-cities-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" name='sex' id="sex" >
					  <option value="">性别</option>
					  <option value="男">男</option>
					  <option value="女">女</option>
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-8167">
				  </ul>
                  </span> </div>
								<div class="form-item form-type-select form-item-cities-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" name="year" id="year" >
					  <option value="">年龄</option>
					  <option value="1-3岁">1-3岁</option>
					  <option value="3-4.5岁">3-4.5岁</option>
					  <option value="4.5-6岁">4.5-6岁</option>
					  <option value="6-8岁">6-8岁</option>
					  <option value="8-10岁">8-10岁</option>
					  <option value="10-15岁">10-15岁</option>
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-8167">
				  </ul>
                  </span> </div>
								<div class="form-item form-type-textfield form-item-phonenumber-td">
									<input  class="translate form-text required" value="电话号码" type="text" name="phone" id="phone" size="60" onfocus="if(this.value == '电话号码') this.value = ''" onblur="if(this.value == '') this.value = '电话号码'" >
									<ul class="parsley-errors-list" id="parsley-id-3642">
									</ul>
								</div>
								<div class="form-item form-type-select form-item-provinces-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" data-parsley-trigger="change" name="province" id="province" >
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-4424">
				  </ul>
                  </span> </div>
								<div class="form-item form-type-select form-item-cities-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" data-parsley-trigger="change" name="city" id="city" >
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-8167">
				  </ul>
                  </span> </div>
							</div>
						</div>
						<input class="btn btn-block btn-turquoise submit" type="submit" value="提交" >
					</form>
					<p class="learn-more-privacy-note">
						我们会尽可能在24小时内联系您<br>
						<b>无需等待，可直接致电400-661-9888</b></p>
				</div>
			</div>
		</div>
	</div>

	<div id="learn-more-flyout" class="block learn-more-block" style="">
		<div class="tab1" style="writing-mode: vertical-lr;padding-left:1rem;"><a href="javascript:{}" style="color:white" onclick="TQKF.kefuimg.Distrabute()">在线咨询</a></div>
	</div>
	<div id="learn-more-flyout" class="block block2 learn-more-block" style="">
		<div class="tab2" style="position:relative;writing-mode: vertical-lr;padding-left:0.7rem;padding-top:0.7rem;">
			<img src="../img/weixin.png" width="60%" />
		</div>
		<div id="erweima" style="position:absolute;left:-8rem;bottom:-22px;display:none;" >
			<img src="../img/erweima.png" width="120px" />
		</div>
	</div>


</div>







<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/city.js" type="text/javascript"></script>
<script type="text/javascript" src="http://wwwcdn.firstleap.cn/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="http://wwwcdn.firstleap.cn/js/jquery.themepunch.plugins.min.js"></script>
<!-- slider settings -->
<script src="../js/formValidate.js"></script>
<script src="http://wwwcdn.firstleap.cn/js/jquery.touchSwipe.min.js"></script>
<script src="http://wwwcdn.firstleap.cn/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="http://wwwcdn.firstleap.cn/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="../js/scripts.js"></script>
<script>
	tab.onclick = function(){
		document.getElementById("bd").style.display = "block";
		document.getElementById("bd").style.background = "#e9e8e8";
	}
</script>
<script>
	init_city(city_datas,'province','city');
	//<![CDATA[
	$(document).ready(function() {
		if ($.fn.cssOriginal!=undefined)
			$.fn.css = $.fn.cssOriginal;
		$('.fullwidthbanner').revolution(
				{
					delay:5700,
					startwidth:1170,
					startheight:550,
					onHoverStop:"on",
					navigationType:"none",
					soloArrowLeftHOffset:0,
					soloArrowLeftVOffset:0,
					soloArrowRightHOffset:0,
					soloArrowRightVOffset:0,
					touchenabled:"on",
					fullWidth:"on",
					shadow:0,
					videoJsPath:"js/videojs/"
				});
	});
	//]]>
</script>

<SCRIPT type=text/javascript>
	function get(p){
//var url=location.search;
		var url= document.URL.toString();
		var tmpStr=p+"=";
		var tmp_reg=eval("/[\?&]"+tmpStr+"/i");
		if(url.search(tmp_reg)==-1)return null;
		else{
			var a=url.split(/[\?&]/);
			for(var i=0;i<a.length;i++)
				if(a[i].search(eval("/^"+tmpStr+"/i"))!=-1)return a[i].substring(tmpStr.length);
		}
	}
	var Par = document.getElementsByTagName("form");
	for(var i=0;i<Par.length;i++){
		var newinput = document.createElement("input");
		newinput.type="hidden";
		newinput.name="ad";
		newinput.value=get("ad");
		Par[i].appendChild(newinput);
	}
</SCRIPT>
<!-- carousel -->
<script type="text/javascript" src="../js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript">
	//<![CDATA[
	jQuery(document).ready(function($) {
		$("#slider_home").carouFredSel({ width : "100%", height : "auto",
			responsive : true,  circular : true, infinite	: false, auto : false,
			items : { width : 231, visible: { min: 1, max: 3 }
			},
			swipe : { onTouch : true, onMouse : true },
			scroll: { items: 3, },
			prev : { button : "#sl-prev", key : "left"},
			next : { button : "#sl-next", key : "right" }
		});
	});
	//]]>
</script>
<script language="JavaScript" src="http://float2006.tq.cn/floatcard?adminid=8818889&amp;sort=0"></script>

</body>
</html>
