<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="applicable-device" content="pc">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>abc国际儿童英语教育</title>
	<meta name="description" content="abc少儿英语">
	<meta name="keywords" content="儿童英语,幼儿英语,少儿英语,英语学习,如何教育孩子,幼教,育儿,幼儿英语班,abc英语">
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/theme.css" rel="stylesheet">
	<link href="../css/prettyPhoto.css" rel="stylesheet" type="text/css"/>
	<link href="../css/zocial.css" rel="stylesheet" type="text/css"/>
	<link href="../css/font-awesome.min.css" rel="stylesheet">
	<link href="../css/settings.css" rel="stylesheet" type="text/css"/>
	<link href="../css/alt_footer.css" rel="stylesheet" type="text/css"/>
	<link href="../css/main.css" rel="stylesheet">
	<link href="../css/add.css" rel="stylesheet">

	
	<script type="text/javascript">
	/*
		function browserRedirect() {
			var sUserAgent = navigator.userAgent.toLowerCase();
				var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
			var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
			var bIsMidp = sUserAgent.match(/midp/i) == "midp";
			var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
			var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
			var bIsAndroid = sUserAgent.match(/android/i) == "android";
			var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
			var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
			if ( bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
			//移动端地址
				window.location.href="http://www.firstleap.cn/m";
			}
		}
		browserRedirect();
		*/
	</script>

	<style>
		.vjs-poster{
			background-size: 100% 100%;
		}
		.video-js, .vjs-no-js{
			background-size: 100% 100%;
			background-color: #2f67af;
		}
		#mi3_videowrap {
			Z-INDEX: 1006; POSITION: absolute; TEXT-ALIGN: right; PADDING-BOTTOM: 4px; PADDING-LEFT: 17px; WIDTH: 600px; PADDING-RIGHT: 17px; DISPLAY: none; BACKGROUND: #e6e4e3; HEIGHT:374px;border-radius: 6px;
			MARGIN-LEFT: -240px; OVERFLOW: hidden; TOP: 200px; PADDING-TOP: 0px; LEFT: 45%;
		}
		#mi3_videowrap .close {
			LINE-HEIGHT: 20px; COLOR: #333;
			opacity: 0.5;
		}
		.span5 h2{
			color:#fff;	
			margin:0.5px;
		}
		.span5 .d{
			padding:3px 6px;
			font-size:14px;
            border-radius:3px;
			font-weight:normal;
		}
		.c1{
			border:1px solid #FF485E;
			color:#FF485E;
		}
		.c2{
			border:1px solid #45b5e9;
			color:#45b5e9;
		}
		.c3{
			border:1px solid #5ECF5B;
			color:#5ECF5B;
		}
		.c4{
			border:1px solid #edb13a;
			color:#edb13a;
		}

		.dot{display: inline-block;width: 10px;height: 10px;margin-right: 5px;background: #FF485E;vertical-align: middle;overflow: hidden;border-radius:10px}

		
	</style>
</head>
<body>
<div class="header">
	<div class="container" >
		<!--logo-->
		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<i class="fa fa-bars"></i></button>
		<div class="logo">
			<a href="index.html"><img src="../img/logo.png" alt="abc英语" /></a>
		</div>
		<!--menu-->
		<nav id="main_menu">
			<div class="nav-collapse collapse">
				<ul class="nav nav-pills">
					<li class="dropdown"><a href="index.html">首页</a>
					</li>
					<li class="dropdown active active1">
					<a href="javascript:void(0)" >课程体系</a>
						<ul class="dropdown-menu" >
							<li>
								<a href="course.html">青少年英语</a>
							</li>
							<li>
								<a href="train.html">企业培训</a>
							</li>
							<li>
								<a href="summerCamp.html">冬夏令营</a>
							</li>
							<li>
								<a href="yoosure.html">国际留学</a>
							</li>
							<li>
								<a href="coaching.html" style='color:#029AFF'>全科辅导</a>
							</li>
							<li>
								<a href="holiday.html">寒暑假辅导</a>
							</li>
						</ul>
					</li>
					<li class="dropdown"><a href="nation.html">全国校区</a>
					</li>
					<li class="dropdown">
						<a href="cooperate.html">授权合作</a>
					</li>
					<li class="dropdown">
						<a href="javascript:void(0)">关于我们</a>
						<ul class="dropdown-menu">
							<li>
								<a href="aboutUs.html">品牌介绍</a>
							</li>
							<li>
								<a href="activity.html">精彩活动</a>
							</li>
							<li>
								<a target="_blank" href="http://special.zhaopin.com/2017/bf/abcw050392/">企业招聘</a>
							</li>
							<li>
								<a target="_blank" href="http://talk.abc.com.cn">在线学习</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<!--//header-->
<div class="fullwidthbanner-container" style="border-bottom: 1px solid #f4f4f4">
	<div class="fullwidthbanner">
		<ul>
			<li data-transition="slideright" style="text-align: center">
				<img src="../img/coaching/效果图.png" />
			</li>
			<li data-transition="slideright" style="text-align: center">
				<img src="../img/coaching/banner.jpg" />
			</li>
			<li data-transition="slideright" style="text-align: center">
				<img src="../img/coaching/效果图.jpg"  />
			</li>
		</ul>
		<div class="tp-bannertimer tp-bottom"></div>
	</div>
</div>	

<div class="wrapper" style="padding-top: 0px">
	<div class="container">
		<div class="inner_content">
			<div class="pad25"></div>
			<h2 class="center">项目介绍</h2>
			<div class="row" style="font-size:16px;padding-left:30px;padding-right:30px;">
				成英教育是ABC教育集团旗下K12全科辅导品牌，自2009年建立以来一直致力为中小学生提供优质教学服务，本着“不仅关注成绩 更关心成长”的育人理念，在加强教学效果监控的同时，在教学过程中还渗入学习意识灌输、学习方法牵引、学习习惯培养、家庭教育辅助等多维度教学环境搭建，让学员做到喜欢学、愿意学、学得好。<br>
成英教育在小升初、中考方向重教研、重教学、重教学服务、重结果，闭环学习流程管理使得学生学习经历丰富且有效，得到了广大学员家长的认可。
			</div>
			<div class="pad25"></div>
			<div class="pad25"></div>
			<h2 class="center">授课内容</h2>
			<div class="row" >
				<div class="span5">
					<div class="tile1 tile11">
						<h2 style="padding:10px 40px;font-weight:600">学前年级</h2>
					</div>
				</div>
				<div class="span5" style='margin-left:1px;'>
					<div class="tile1 tile12">
						<h2 style="padding:10px 40px;font-weight:600">小学年级</h2>
					</div>
				</div>
				<div class="span5" style='margin-left:1px;'>
					<div class="tile1 tile14">
						<h2 style="padding:10px 40px;font-weight:600">初中年级</h2>
					</div>
				</div>
				<div class="span5" style='margin-left:1px;'>
					<div class="tile1 tile13">
						<h2 style="padding:10px 40px;font-weight:600">高中年级</h2>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 1px">
				<div class="span5">
					<div class="tile2" style="height:80px;padding-left:40px;padding-top:40px;">
						<span class="d c1">国学</span>
						<span class="d c1">数学启蒙</span>
						<span class="d c1">托管</span>
					</div>
				</div>
				<div class="span5" style='margin-left:1px;'>
					<div class="tile2" style="height:20px;padding-left:20px;padding-top:20px;">
						<span class="d c2">语文</span>
						<span class="d c2">数学</span>
						<span class="d c2">数学思维</span>
					</div>
					<div class="tile2" style="height:60px;padding-left:20px;padding-top:20px;">
						<span class="d c2">小升初</span>
						<span class="d c2">假期集训</span>
						<span class="d c2">迎春杯集训</span>
					</div>
				</div>
				<div class="span5" style='margin-left:1px;'>
					<div class="tile2" style="height:20px;padding-left:20px;padding-top:20px;">
						<span class="d c3">语文</span>
						<span class="d c3">数学</span>
						<span class="d c3">物理</span>
						<span class="d c3">假期集训</span>
					</div>
					<div class="tile2" style="height:60px;padding-left:20px;padding-top:20px;">
						<span class="d c3">化学</span>
						<span class="d c3">中考冲刺</span>
						<span class="d c3">分班试集训</span>
					</div>
				</div>
				<div class="span5" style='margin-left:1px;'>
					<div class="tile2" style="height:20px;padding-left:20px;padding-top:20px;">
						<span class="d c4">语文</span>
						<span class="d c4">数学</span>
						<span class="d c4">文综</span>
						<span class="d c4">理综</span>
					</div>
					<div class="tile2" style="height:60px;padding-left:20px;padding-top:20px;">
						<span class="d c4">高考冲刺</span>
					</div>
				</div>

			</div>
			<div class="row" style="margin-top: 1px">
				<div class="span5">
					<div class="tile2" style="height:120px;padding-left:40px;padding-top:40px;">
						<span class="d" style='padding-left:30px'>学前：</span>
						<ul>
							<li>
							<span class="d"><span class="dot"></span>激发学习兴趣</span>
							</li>
							<li>
							<span class="d"><span class="dot"></span>培养学习潜能</span>
							</li>
							<li>
							<span class="d"><span class="dot"></span>教授学习方法</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="span5" style='margin-left:1px;'>
					<div class="tile2" style="height:120px;padding-left:40px;padding-top:40px;">
						<span class="d" style='padding-left:30px'>小学：</span>
						<ul>
							<li>
							<span class="d"><span class="dot" style="background:#0199FF"></span>指导学习习惯</span>
							</li>
							<li>
							<span class="d"><span class="dot" style="background:#0199FF"></span>巩固基础知识</span>
							</li>
							<li>
							<span class="d"><span class="dot" style="background:#0199FF"></span>培养学习兴趣</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="span5" style='margin-left:1px;'>
					<div class="tile2" style="height:120px;padding-left:40px;padding-top:40px;">
						<span class="d" style='padding-left:30px'>初中：</span>
						<ul>
							<li>
							<span class="d"><span class="dot" style="background:#5DCF5B"></span>归纳学科重点</span>
							</li>
							<li>
							<span class="d"><span class="dot" style="background:#5DCF5B"></span>查缺补漏提升</span>
							</li>
							<li>
							<span class="d"><span class="dot" style="background:#5DCF5B"></span>同步超前巩固</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="span5" style='margin-left:1px;'>
					<div class="tile2" style="height:120px;padding-left:40px;padding-top:40px;">
						<span class="d" style='padding-left:30px'>高中：</span>
						<ul>
							<li>
							<span class="d"><span class="dot" style="background:#F7BF35"></span>梳理知识主干</span>
							</li>
							<li>
							<span class="d"><span class="dot" style="background:#F7BF35"></span>突出学科重点</span>
							</li>
							<li>
							<span class="d"><span class="dot" style="background:#F7BF35"></span>精讲考题考点</span>
							</li>
						</ul>
					</div>
				</div>

			</div>
			
			
		</div>
	</div>
</div>
<div class="wrapper" style="padding-top: 0px">
	<div class="container">
		<div class="inner_content">
			<div class="pad25"></div>
			<div class="pad25"></div>
			<h2 class="center">授课形式</h2>
			<!--info boxes-->
			<div class="row" >
				<div class="span3 span4">
					<div class="tile tile1 tile2" style="">
						<img alt="教授英语学习方法"  src="../img/coaching/yiduiyi.png"/>
						<h3 style="padding-bottom: 15px;margin-top: 15px">一对一</h3>
					</div>
				</div>
				<div class="span3 span4">
					<div class="tile tile1 tile2">
						<img alt="全科国际学校课程" src="../img/coaching/yiduisan.png" />
							<h3 style="padding-bottom: 15px;margin-top: 15px">一对三</h3>
					</div>
				</div>
				<div class="span3 span4">
					<div class="tile tile1 tile2">
						<img alt="全科高阶课程" src="../img/coaching/xiaoban.png"/>
							<h3 style="padding-bottom: 15px;margin-top: 15px">精品小班</h3>
					</div>
				</div>
			</div>
			
		</div>

	</div>
</div>
<div class="wrapper" style="padding-top: 0px">
	<div class="container">
		<div class="inner_content">
			<div class="pad25"></div>
			<h2 class="center">学习流程</h2>
			<!--info boxes-->
			<div class="row" style="margin-left:30px;height:340px;">
				<div style="position：relative">
					<img style="width:47%" alt="教授英语学习方法"  src="../img/coaching/yi.png"/>
					<img style="width:48%;margin-left:1%;margin-top:5px;" alt="教授英语学习方法"  src="../img/coaching/liu.png"/>
					<img style="width:42%" alt="教授英语学习方法"  src="../img/coaching/er.png"/>
					<img style="width:41%;margin-left:13%;margin-top:-35px;" alt="教授英语学习方法"  src="../img/coaching/wu.png"/>
					<img style="width:50%;margin-top:-15px;" alt="教授英语学习方法"  src="../img/coaching/san.png"/>
					<img style="width:44%;margin-left:0.8%;margin-top:-35px;" alt="教授英语学习方法"  src="../img/coaching/si.png"/>
				</div>
				<div style="position：absolute;margin-top:-200px;margin-left:525px;">
					<span style="font-size:28px;font-weight:600">学习</span><br>
					<span style="font-size:28px;font-weight:600">流程</span>
				</div>
			</div>
			
			
			
		</div>

	</div>
</div>
<div class="wrapper" style="padding-top: 0px">
	<div class="container">
		<div class="inner_content">
			<div class="pad25"></div>
			<div class="pad25"></div>
			<h2 class="center">项目优势丰富课程</h2>
			<!--info boxes-->
			<div class="row" >
				<div class="span3 span4">
					<div class="tile">
						<h3 style='color:#0199FF;font-weight:600'>01.科学测评</h3>
						<p>在开课前，课程顾问老师对孩子进行全方位测试，全面掌握学生学习情况，根据学业测评的结果，确定孩子的学业的基础及辅导级别，根据孩子的优势与弱势项目，制定相关的学习计划。</p>
						<h3 style='color:#0199FF;font-weight:600'>02.专业分析</h3>
						<p>专业的学科分析是针对孩子的学业基础、心理特点及兴趣点，帮助学生准确进行定位，出具专业的学业分析报告并提出选课建议。</p>
						<h3 style='color:#0199FF;font-weight:600'>05.闭环教学服务</h3>
						<p>省去家长同多科老师分别沟通的麻烦，专业的学习规划师随时掌握孩子的变化，及时和家长、孩子做全方位的交流与沟通。全程监督指导，定期回访，针对孩子的学习情况与家长深度沟通。</p>
					</div>
				</div>
				<div class="span3 span4">
					<div style='margin-top:40px'>
						<img alt="全科国际学校课程" src="../img/coaching/jiaoyutixizhichi.png" />
					</div>
				</div>
				<div class="span3 span4">
					<div class="tile" style="padding-top:60px;">
						<h3 style='color:#0199FF;font-weight:600'>03.定做个性化学习方案</h3>
						<p>根据学科分析师的专业意见以及孩子自身的学业、心理特点，做出合理、科学的学习计划与学习方法，从细节保证孩子的学习效果。</p>
						<h3 style='color:#0199FF;font-weight:600'>04.一对一个性化辅导</h3>
						<p>根绝孩子的学习特点及喜好，对辅导老师双向选择、我们提供科学的建议，孩子选择喜爱的老师，从亲和期做起，让双方在学习、交流双方面达到最佳前契合。</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<div class="container wrapper">
	<div class="inner_content">
		
		
	<!--related projects-->
<div class="strip2" style="background: #fff;">
	<h2 class="center">师资团队</h2>
	<div class="container wrapper">
		<div class="inner_content">
			<div class="inner_content col_full" >

				<div id="slider_related">
					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/陈老师 语文.JPG" alt=""/>
							</div>
						</div>
					</div>
					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/丁老师 数学.JPG" alt=""/>
							</div>
						</div>
					</div>
					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/顾老师 物理.JPG" alt=""/>
							</div>
						</div>
					</div>
					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/胡老师 数学.JPG" alt=""/>
							</div>
						</div>
					</div>
					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/姜老师 数学.JPG" alt=""/>
							</div>
						</div>
					</div>
					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/孔老师 语文.JPG" alt=""/>
							</div>
						</div>
					</div>

					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/李老师 语文.JPG" alt=""/>
							</div>
						</div>
					</div>

					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/凌老师 数学.JPG" alt=""/>
							</div>
						</div>
					</div>
					
					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/刘老师 数学.JPG" alt=""/>
							</div>
						</div>
					</div>

					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/柳老师 语文.JPG" alt=""/>
							</div>
						</div>
					</div>

					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/路老师 语文.JPG" alt=""/>
							</div>
						</div>
					</div>
					
					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/邱老师 数学.JPG" alt=""/>
							</div>
						</div>
					</div>
					
					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/任老师 化学.JPG" alt=""/>
							</div>
						</div>
					</div>

					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/石老师 数学.JPG" alt=""/>
							</div>
						</div>
					</div>
					
					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/孙老师 数学.JPG" alt=""/>
							</div>
						</div>
					</div>

					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/吴老师 语文.JPG" alt=""/>
							</div>
						</div>
					</div>
					
					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/肖老师 物理.JPG" alt=""/>
							</div>
						</div>
					</div>
					
					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/姚老师 数学1.JPG" alt=""/>
							</div>
						</div>
					</div>
					
					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/姚老师 数学.JPG" alt=""/>
							</div>
						</div>
					</div>
					
					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/禹老师 语文.JPG" alt=""/>
							</div>
						</div>
					</div>
					
					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/岳老师 语文.JPG" alt=""/>
							</div>
						</div>
					</div>

					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/张老师 数学.JPG" alt=""/>
							</div>
						</div>
					</div>

					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/张老师 语文.JPG" alt=""/>
							</div>
						</div>
					</div>

					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/赵老师 化学.JPG" alt=""/>
							</div>
						</div>
					</div>
					
					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/赵老师 数学.JPG" alt=""/>
							</div>
						</div>
					</div>
					
					<div class="slider-item">
						<div class="slider-image">
							<div class="">
								<img src="../img/coaching/周老师 数学.JPG" alt=""/>
							</div>
						</div>
					</div>
				</div>
				<div id="sl-prev2" class="widget-scroll-prev2">
					<i class="fa fa-chevron-left white"></i>
				</div>
				<div id="sl-next2" class="widget-scroll-next2">
					<i class="fa fa-chevron-right white but_marg"></i>
				</div>
			</div>
			<!--//projects-->
		</div>
	</div>
</div>


		<!--//page-->
	</div>
</div>
<!-- footer 2 -->
<div id="footer_alt" style="margin-top:0px;">
	<div class="container" ><div class="row">
		<!--column 1-->
		<div class="span3"  style="width:390px;padding-right:20px;">
			<h2>关于ABC</h2>
			<ul>
				<li>
					<p>
						ABC  教育集团是以外语培训为核心，集培训、研发、图书杂志音像出版、出国留学、 职业教育、 在线教育及教育软件研发为一体的大型综合教育集团。 目前在北京、 哈尔滨、 长沙、 广州、 宁波等多座城市开设23家直营分校。2011年ABC美国分部正式运营，迈出国际化进军的第一步，2014年与加拿大哥伦比亚国际学院结为姊妹校。历史二十载，用独特的教育方法和良好的口碑，打造出自主教学品牌。
					</p>
				</li>
			</ul>
		</div>
		<!--column 2-->
		<div class="span3" style="width:420px;">
			<h2>ABC课程</h2>
			<ul class="media-list">
				<li class="media">
					<div class="media-body">
						<a target='_blank' href="course.html">青少年口语</a>
						<a target='_blank' style='margin-left:30px;' href="http://special.zhaopin.com/2017/bf/abcw050392/">ABC招聘</a>
				</li>
				<li class="media">
					<div class="media-body">
						<a target='_blank' href="foreign.html">全外教口语</a>
						<a target='_blank' style='margin-left:30px;' href="cooperate.html">授权合作</a>
						<a class="btn btn-primary btn-custom btn-rounded " href="javascript:{}" style="margin-left:30px;padding:8px 25px;" onclick="TQKF.kefuimg.Distrabute()"><b>在线咨询</b></a>
					</div>
				</li>
				<li class="media">
					<div class="media-body">
						<a target='_blank' href="kaoji.html">国际考试类</a>
						<a target='_blank' style='margin-left:30px;' href="aboutUs.html">了解ABC</a>
						<h3 style="margin-left:30px;display:inline"><i class="fa fa-phone hue"></i>400-661-9888</h3>
				</li>
			</ul>
					<p style="font-size:18px;margin-top:30px;">
						All rights reserved Copyright &copy;
						ABC教育集团<br/>
					</p>
		</div>
		<div class="span4" style="width:230px;">
			
			<div class="follow_us2">
				<h3>关注我们</h3>
				<div style="display:inline;position:relative;">
					<img style="width:49%;" src="../img/share/wechat.png">
					<div style="left:22%;position:absolute;">微信二维码</div>
				</div>
				<div style="display:inline;position:relative;">
					<img style="width:49%;" src="../img/share/sina.png">
					<div style="position:absolute;left:22%">微博二维码</div>
				</div>
					
			</div>
		</div>

	</div>
	</div>
</div>

<!--表单部分-->
<div id="building-blocks" class="hidden-xs activated animated slideInRight modal1" >
	<div id="learn-more-flyout" class="block learn-more-block" style="">
		<div class="tab" id="tab" style="writing-mode: vertical-lr;padding-left:1rem;">预约试听</div>
		<div class="content form-wrapper seq-container" id="bd" style="display: none">
			<div class="inner-content"> <i class="icon-remove-circle icon-2x close"></i>
				<div style="width:274px;margin:10px 25px 0;">
					<form id="test-drive-form" class="config-form" action="" method="post" accept-charset="UTF-8" onsubmit="return yanzheng();">
						<div>
							<div id="test-drive-details">
								<div id="message-error"></div>
								<div class="form-item form-type-textfield form-item-lastname-td">
									<input  class="translate form-text required parsley-error" type="text" name="name" id="name" size="60" maxlength="50" value="孩子姓名" onfocus="if(this.value == '孩子姓名') this.value = ''" onblur="if(this.value == '') this.value = '孩子姓名'">
									<ul class="parsley-errors-list filled" id="parsley-id-2843">
									</ul>
								</div>
								<div class="form-item form-type-select form-item-cities-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" name='sex' id="sex" >
					  <option value="">性别</option>
					  <option value="男">男</option>
					  <option value="女">女</option>
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-8167">
				  </ul>
                  </span> </div>
								<div class="form-item form-type-select form-item-cities-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" name="year" id="year" >
					  <option value="">年龄</option>
					  <option value="1-3岁">1-3岁</option>
					  <option value="3-4.5岁">3-4.5岁</option>
					  <option value="4.5-6岁">4.5-6岁</option>
					  <option value="6-8岁">6-8岁</option>
					  <option value="8-10岁">8-10岁</option>
					  <option value="10-15岁">10-15岁</option>
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-8167">
				  </ul>
                  </span> </div>
								<div class="form-item form-type-textfield form-item-phonenumber-td">
									<input  class="translate form-text required" value="电话号码" type="text" name="phone" id="phone" size="60" onfocus="if(this.value == '电话号码') this.value = ''" onblur="if(this.value == '') this.value = '电话号码'" >
									<ul class="parsley-errors-list" id="parsley-id-3642">
									</ul>
								</div>
								<div class="form-item form-type-select form-item-provinces-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" data-parsley-trigger="change" name="province" id="province" >
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-4424">
				  </ul>
                  </span> </div>
								<div class="form-item form-type-select form-item-cities-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" data-parsley-trigger="change" name="center" id="city" >
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-8167">
				  </ul>
                  </span> </div>
							</div>
						</div>
						<input class="btn btn-block btn-turquoise submit" type="submit" value="提交" >
					</form>
					<p class="learn-more-privacy-note">
						我们会尽可能在24小时内联系您<br>
						<b>无需等待，可直接致电400-661-9888</b></p>
				</div>
			</div>
		</div>
	</div>

	<div id="learn-more-flyout" class="block learn-more-block" style="">
		<div class="tab1" style="writing-mode: vertical-lr;padding-left:1rem;"><a href="javascript:{}" style="color:white" onclick="TQKF.kefuimg.Distrabute()">在线咨询</a></div>
	</div>
	<div id="learn-more-flyout" class="block block2 learn-more-block" style="">
		<div class="tab2" style="position:relative;writing-mode: vertical-lr;padding-left:0.7rem;padding-top:0.7rem;">
			<img src="../img/weixin.png" width="60%" />
		</div>
		<div id="erweima" style="position:absolute;left:-8rem;bottom:-22px;display:none;" >
			<img src="../img/erweima.png" width="120px" />
		</div>
	</div>


</div>














<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/city.js" type="text/javascript"></script>
<script type="text/javascript" src="http://wwwcdn.firstleap.cn/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="http://wwwcdn.firstleap.cn/js/jquery.themepunch.plugins.min.js"></script>
<!-- slider settings -->
<script src="../js/formValidate.js"></script>
<script src="http://wwwcdn.firstleap.cn/js/jquery.touchSwipe.min.js"></script>
<script src="http://wwwcdn.firstleap.cn/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="http://wwwcdn.firstleap.cn/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="../js/scripts.js"></script>
<script>
	tab.onclick = function(){
		document.getElementById("bd").style.display = "block";
		document.getElementById("bd").style.background = "#e9e8e8";
	}
</script>
<script>
	init_city(city_datas,'province','city');
	//<![CDATA[
	$(document).ready(function() {
		if ($.fn.cssOriginal!=undefined)
			$.fn.css = $.fn.cssOriginal;
		$('.fullwidthbanner').revolution(
				{
					delay:5700,
					startwidth:1170,
					startheight:550,
					onHoverStop:"on",
					navigationType:"none",
					soloArrowLeftHOffset:0,
					soloArrowLeftVOffset:0,
					soloArrowRightHOffset:0,
					soloArrowRightVOffset:0,
					touchenabled:"on",
					fullWidth:"on",
					shadow:0,
					videoJsPath:"js/videojs/"
				});
	});
	//]]>
</script>

<SCRIPT type=text/javascript>
	function get(p){
//var url=location.search;
		var url= document.URL.toString();
		var tmpStr=p+"=";
		var tmp_reg=eval("/[\?&]"+tmpStr+"/i");
		if(url.search(tmp_reg)==-1)return null;
		else{
			var a=url.split(/[\?&]/);
			for(var i=0;i<a.length;i++)
				if(a[i].search(eval("/^"+tmpStr+"/i"))!=-1)return a[i].substring(tmpStr.length);
		}
	}
	var Par = document.getElementsByTagName("form");
	for(var i=0;i<Par.length;i++){
		var newinput = document.createElement("input");
		newinput.type="hidden";
		newinput.name="ad";
		newinput.value=get("ad");
		Par[i].appendChild(newinput);
	}
</SCRIPT>
<!-- carousel -->
<!-- carousel -->
<script type="text/javascript" src="../js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript">
//<![CDATA[
jQuery(document).ready(function($) {
	$("#slider_home").carouFredSel({ width : "100%", height : "auto",
	responsive : true,  circular : true, infinite	: false, auto : false,
	items : { width : 231, visible: { min: 1, max: 3 }
	},
	swipe : { onTouch : true, onMouse : true },
	scroll: { items: 3},
	prev : { button : "#sl-prev", key : "left"},
	next : { button : "#sl-next", key : "right" }
	});

	var portfolioCarousel = $("#slider_related");
	portfolioCarousel.carouFredSel({
	width : "100%", height : "auto",
	circular : true, responsive : true, infinite : false, auto : true,
		items : {  width : 230,
		visible: { min: 1, max:5 }
			},
	swipe: { onMouse: true, onTouch: true },
	prev : { button : "#sl-prev2", key : "left" },
	next : {  button : "#sl-next2", key : "right" },
		 onCreate : function () {
		$(window).on('resize', function(){
		portfolioCarousel.parent().add(portfolioCarousel).css('height', portfolioCarousel.children().first().outerHeight() + 'px');
		})
		.trigger('resize'); }
		});
});
		//]]>
	</script>
<script language="JavaScript" src="http://float2006.tq.cn/floatcard?adminid=8818889&amp;sort=0"></script>

</body>
</html>
