<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="applicable-device" content="pc">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>abc国际儿童英语教育</title>
	<meta name="description" content="abc少儿英语">
	<meta name="keywords" content="儿童英语,幼儿英语,少儿英语,英语学习,如何教育孩子,幼教,育儿,幼儿英语班,abc英语">
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/theme.css" rel="stylesheet">
	<link href="../css/prettyPhoto.css" rel="stylesheet" type="text/css"/>
	<link href="../css/zocial.css" rel="stylesheet" type="text/css"/>
	<link href="../css/font-awesome.min.css" rel="stylesheet">
	<link href="../css/settings.css" rel="stylesheet" type="text/css"/>
	<link href="../css/alt_footer.css" rel="stylesheet" type="text/css"/>
	<link href="../css/main.css" rel="stylesheet">
	<link href="../css/add.css" rel="stylesheet">

	
	<script type="text/javascript">
	/*
		function browserRedirect() {
			var sUserAgent = navigator.userAgent.toLowerCase();
				var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
			var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
			var bIsMidp = sUserAgent.match(/midp/i) == "midp";
			var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
			var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
			var bIsAndroid = sUserAgent.match(/android/i) == "android";
			var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
			var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
			if ( bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
			//移动端地址
				window.location.href="http://www.firstleap.cn/m";
			}
		}
		browserRedirect();
		*/
	</script>

	<style>
		#triangle-right {
			width: 0;
			height: 0;
			border-top: 20px solid transparent;
			border-left: 50px solid #5BC5D1;
			border-bottom: 20px solid transparent;
			margin-top:260%;
		}
		#triangle-right1 {
			width: 0;
			height: 0;
			border-top: 20px solid transparent;
			border-left: 50px solid #FBB241;
			border-bottom: 20px solid transparent;
			margin-top:200%;
		}
		.title1{
			margin-bottom:5px;
			background: linear-gradient(to right, #029AFF, white);
			color:#fff;
			padding-left:10px;
		}
		#triangle-left { 
			width: 0; 
			height: 0; 
			border-top: 20px solid transparent; 
			border-right: 50px solid #4DC9E5; 
			border-bottom: 20px solid transparent; 
			margin-top:200%;
		} 
	</style>
</head>
<body>
<div class="header">
	<div class="container" >
		<!--logo-->
		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<i class="fa fa-bars"></i></button>
		<div class="logo">
			<a href="index.html"><img src="../img/logo.png" alt="abc英语" /></a>
		</div>
		<!--menu-->
		<nav id="main_menu">
			<div class="nav-collapse collapse">
				<ul class="nav nav-pills">
					<li class="dropdown "><a href="index.html">首页</a>
					</li>
					<li class="dropdown active active1">
					<a href="javascript:void(0)">课程体系</a>
						<ul class="dropdown-menu">
							<li>
								<a href="course.html">青少年英语</a>
							</li>
							<li>
								<a href="train.html">企业培训</a>
							</li>
							<li>
								<a href="summerCamp.html">冬夏令营</a>
							</li>
							<li>
								<a href="yoosure.html">国际留学</a>
							</li>
							<li>
								<a href="coaching.html">全科辅导</a>
							</li>
							<li>
								<a href="holiday.html">寒暑假辅导</a>
							</li>
						</ul>
					</li>
					<li class="dropdown"><a href="nation.html">全国校区</a>
					</li>
					<li class="dropdown">
						<a href="cooperate.html">授权合作</a>
					</li>
					<li class="dropdown">
						<a href="javascript:void(0)">关于我们</a>
						<ul class="dropdown-menu">
							<li>
								<a href="aboutUs.html">品牌介绍</a>
							</li>
							<li>
								<a href="activity.html">精彩活动</a>
							</li>
							<li>
								<a target="_blank" href="http://special.zhaopin.com/2017/bf/abcw050392/">企业招聘</a>
							</li>
							<li>
								<a target="_blank" href="http://talk.abc.com.cn">在线学习</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<!--//header-->


<div id="banner">
<div class="container intro_wrapper">
<div class="inner_content">
	<h1 class="leapD">哈佛少儿英语（3～6岁）</h1>
</div>
</div>
</div>
<div class="wrapper1">
	<div class="container inner_content" >
		<div class="row" >
			<img src='../img/hafo/哈佛banner.png'>
		</div>
		<div style="text-align:center">
				<img src="../img/hafo/卡通.png">
				<div class="pad25"></div>
				<div class="pad25"></div>
				<div style='text-align:center;font-size:28px;font-weight:600'>课程体系</div>
				<div class="pad25"></div>
				<div style='text-align:center;font-size:16px;color:#656565'>课堂立体教学&nbsp;&nbsp;|&nbsp;&nbsp;课后平台巩固</div>
		</div>
		<div style="height:5px;margin-top:20px;background: linear-gradient(to right, #FE7E10,#85BF03, #17B4E1);"></div>
		<div class="row" style="margin-top:60px">
			<div style="position:relative"><img src="../img/kaoji/标签.png">
			<div style="position:absolute;top:12px;left:15px;width:100%;color:#fff;font-size:20px;">
				<span style='color:#000;font-weight:600'>哈佛</span>&nbsp;&nbsp;&nbsp;<span style='font-weight:600'>课程优势</span>
			</div>
			</div>
		</div>
		<div class="pad25"></div>
		<div class="row" style="font-size:16px;">
			纯正英文环境，中外教结合授课，丰富的歌曲，互动游戏，培养未来领导力。多彩的英语故事，贴近孩子生活，流利表达日常口语。多学科英语授课，混合立体教学模式，拓展国际视野，了解西方文化。全方位打造听说读写各方面能力。
		</div>
		<div class="pad25"></div>
		<div>
			<div class="span3 span4" style='margin-left:17px;'>
					<div class="tile tile1 tile11" style="">
						<img alt=""  src="../img/hafo/SE_CB_6.png"/>
					</div>
			</div>
			<div class="span3 span4">
				<div class="tile tile1 tile11" style="background:#008FFF;">
					<img alt=""  src="../img/hafo/SE_CB_5.png"/>
				</div>
			</div>
			<div class="span3 span4">
				<div class="tile tile1 tile11" style="background:#5DCF5B">
					<img alt=""  src="../img/hafo/SE_CB_4.png"/>
				</div>
			</div>
		</div>
		
		<div class="row" style="margin-top:60px">
			<div style="position:relative"><img src="../img/kaoji/标签.png">
			<div style="position:absolute;top:250px;left:15px;width:100%;color:#fff;font-size:20px;">
				<span style='color:#000;font-weight:600'>课堂</span>&nbsp;&nbsp;&nbsp;<span style='font-weight:600'>立体教学</span>
			</div>
			</div>
		</div>
		<div class="pad25"></div>
		<div class="row" style="margin-top:10px">
			<div style='float:left;'>
				 <span style="border-radius: 50%;    height: 20px;    width: 20px;    display: inline-block;    background: #FF7333;      vertical-align: top;">  
			      	<span style="display: block;    color: #FFFFFF;    height: 20px;    line-height: 20px;    text-align: center">1</span> 
				 </span>
				 <span style='font-size:16px;color:#FF7333'>&nbsp;数字化教育，多媒体课程</span><br>
				 <span style='font-size:16px;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;有声动画，互动游戏，让孩子们在课上的每一分钟都全神贯注。</span>
			</div>
			
			 <div style='float:right'>
			 	 <span style="border-radius: 50%;    height: 20px;    width: 20px;    display: inline-block;    background: #FF7333;      vertical-align: top;">  
			      <span style="display: block;    color: #FFFFFF;    height: 20px;    line-height: 20px;    text-align: center">2</span> 
				 </span>
				 <span style='font-size:16px;color:#FF7333'>&nbsp;全卡通原版英文教材</span><br>
				 <span style='font-size:16px;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;有趣的故事，精美的设计激发孩子的阅读兴趣，让孩子学的更主动。</span>
			 </div>
		</div>
		<div class="row" style="margin-top:20px">
			<div style="float:left;width:50%">
			<img src="../img/hafo/数学化教育.png">
			</div>
			<div style="float:right;width:50%">
				<img src="../img/hafo/全卡通原版.png">
			</div>
		</div>
		<div class="row" style="margin-top:60px">
			<div style="position:relative"><img src="../img/kaoji/标签.png">
			<div style="position:absolute;top:13px;left:15px;width:100%;color:#fff;font-size:20px;">
				<span style='color:#000;font-weight:600'>课后</span>&nbsp;&nbsp;&nbsp;<span style='font-weight:600'>平台巩固</span>
			</div>
			</div>
		</div>
		<div class="row" style="margin-top:10px">
			<div style='float:left;width:50%'>
				<div>
					<span style="border-radius: 50%;    height: 20px;    width: 20px;    display: inline-block;    background: #FF7333;      vertical-align: top;">  
				      	<span style="display: block;    color: #FFFFFF;    height: 20px;    line-height: 20px;    text-align: center">1</span> 
					 </span>
					 <span style='font-size:16px;color:#FF7333'>&nbsp;无纸化作业</span><br>
					 <span style='font-size:16px;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;互动式网络作业平台，50万道“听” “说” “读” “写”海量<br>
					 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;习题配以生动有趣的动画形式，让做作业充满乐趣。
					</span>
				</div>
				<div>
					 <div style="float:left;width:51%;margin-top:25px;">
					 	<img src="../img/hafo/无纸化作业.png">
					 </div>
					 <div style='float:left;width:40%;margin-top:30px;'>
					 	 <span style="border-radius: 50%;    height: 20px;    width: 20px;    display: inline-block;    background: #FF7333;      vertical-align: top;">  
					      <span style="display: block;    color: #FFFFFF;    height: 20px;    line-height: 20px;    text-align: center">2</span> 
						 </span>
						 <span style='font-size:16px;color:#FF7333'>&nbsp;全卡通原版英文教材</span><br>
						 <span style='font-size:16px;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;100％包含小学英语教学<br>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大纲的全部知识点，实<br>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;实在在提升孩子的英语<br>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学习成绩。<br>
						</span>
				 	</div>
				</div>
			</div>
			<div style='float:left;'>
				 <span style="border-radius: 50%;    height: 20px;    width: 20px;    display: inline-block;    background: #FF7333;      vertical-align: top;">  
					      <span style="display: block;    color: #FFFFFF;    height: 20px;    line-height: 20px;    text-align: center">3</span> 
						 </span>
				<span style='font-size:16px;color:#FF7333;'>&nbsp;家校互动：“爱校通”</span><br>
				<span style='font-size:16px;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;提供在线学习报告，一览孩子<br>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;学习情况，每周更有短信息告<br>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;知孩子学习近况，让家长对孩<br>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;子的英語学习既省心又放心。<br>
						</span>
						<div style='float:left;'>
				<img src="../img/hafo/家校互动1.png">
			</div>
			</div>
			<div style='float:right;'>
				<img src="../img/hafo/家校互动2.png">
			</div>
		
		</div>
	</div>
	<div style="margin-top:60px;font-size:30px;padding-top:30px;padding-bottom:30px;text-align:center;color:#fff;background:#0199FF">Smart English</div>
	<div class="container inner_content" >
	<div class="row" style='margin-top:40px;'>
	<h1 class="leapY">课程优势</h1>
	</div>
	<div class="row" style='margin-top:40px;text-align:center;'>
		<img src="../img/hafo/SE课程优势表格.png">
	</div>
	<div class="row">
		<div style="margin-left:90px;float:left;width:40%;">
		<img src="../img/hafo/SE_CB_11.png">
		</div>
		<div style="margin-left:40px;float:left;width:40%;">
			<img src="../img/hafo/SE_CB_22.png">
		</div>
	</div>
	<div style='font-size:16px;margin-top:60px;'>
		Smart English(聪明英语)专为3-6岁儿童打造的学前英语全能课程。整套课程由特邀来自美、英、中三国语言学习专家联合编著，融合儿童发展及语言习得理论。原汁原味的创意教材融合互动游戏，生动视频等现代科技，激发孩子的学习兴趣和创造能力。    在语言启蒙的同时，融入文化传承、艺术鉴赏、让孩子从小感受英语之美、世界之大，成为会沟通、爱思考的世界公民！
	</div>
	
	</div>
	<div style="margin-top:60px;font-size:30px;padding-top:30px;padding-bottom:30px;text-align:center;color:#fff;background:#0199FF">Genius English</div>
	<div class="container inner_content" >
	<div class="row" style='margin-top:40px;'>
	<h1 class="leapY">课程优势</h1>
	</div>
	<div class="row" style='margin-top:40px;margin-left:50px;'>
		<img src="../img/hafo/GE课程优势表格.png">
	</div>
	<div class="row">
		<div style="margin-left:135px;float:left;width:33%;">
			<img src="../img/hafo/ge_1_11.png">
		</div>
		<div style="margin-left:80px;float:left;width:33%;">
			<img src="../img/hafo/ge_2_11.png">
		</div>
	</div>
	<div style='font-size:16px;margin-top:60px;'>
		<p>专为中国孩子量身打造，以国际化理念和先进科技实现教育创新，在提升孩子英语能力的同时，着重培养孩子沟通能力、协作能力、创造能力、思辨能力、学习力等21世纪核心能力，让孩子拥有丰富知识和全球视野。</p>
	</div>
	
	
	<div class="row" style="margin-top: 35px">
				<div class="span3 span4">
					<div class="tile tile1 tile2" style="">
						<div style="background:#f6b37f">
							<img style="margin-top:10px;margin-bottom:10px;width:48%" alt="教授英语学习方法"  src="../img/hafo/icon能力培养.png"/>
						</div>
						<div>
							<h3 style="padding-bottom: 15px;margin-top: 15px">多学科的能力培养</h3>
						</div>
					</div>
				</div>
				<div class="span3 span4">
					<div class="tile tile1 tile2" style="">
						<div style="background:#a98bbc">
							<img style="margin-top:10px;margin-bottom:10px;width:48%" alt="教授英语学习方法"  src="../img/hafo/icon课程内容.png"/>
						</div>
						<div>
							<h3 style="padding-bottom: 15px;margin-top: 15px">国际化的课程内容</h3>
						</div>
					</div>
				</div>
				<div class="span3 span4">
					<div class="tile tile1 tile2" style="">
						<div style="background:#acd697">
							<img style="margin-top:25px;margin-bottom:25px;width:49%" alt="教授英语学习方法"  src="../img/hafo/icon学习体验.png"/>
						</div>
						<div>
							<h3 style="padding-bottom: 15px;margin-top: 15px">全媒介的学习体验</h3>
						</div>
					</div>
				</div>
			</div>
</div>
</div>
<div id="banner">
<div class="container intro_wrapper">
<div class="inner_content" style="padding-top:60px;padding-bottom:60px;" >
	<h1 class="leapY">哈佛少儿英语（3～6岁）</h1>
	<div style="text-align:center;margin-top:30px;font-size:16px;">
		在英语教学中融入多学科的学习内容，锻炼孩子的英语思维，掌握语言交流和运用能力，为未来储备核心竞争力。<br>
		美国文化、中国传统风俗等课程内容，带领孩子们领略瑰丽的世界文化，潜移默化让孩子拥有全球化的世界观。&nbsp;&nbsp;&nbsp;
	</div>
</div>
</div>
</div>
<div class="wrapper1">
	<div class="container inner_content" >
		<div style='margin-left:55px;'>
			<div class="row" style="border:6px solid #e7e8e8;float:left;width:30.6%;padding-top:50px;padding-bottom:50px;text-align:center;background:#4caec4;color:#fff;font-size:16px;">
			语言艺术
			</div>
			<div class="row" style="border:6px solid #e7e8e8;float:left;width:30.6%;padding-top:50px;padding-bottom:50px;text-align:center;background:#e46d2e;color:#fff;font-size:16px;">
			故事阅读
			</div>
			<div class="row" style="border:6px solid #e7e8e8;float:left;width:15%;padding-top:50px;padding-bottom:50px;text-align:center;background:#6d339d;color:#fff;font-size:16px;">
			科学
			</div>
			<div class="row" style="border:6px solid #e7e8e8;float:left;width:15%;padding-top:50px;padding-bottom:50px;text-align:center;background:#f7c13e;color:#fff;font-size:16px;">
			戏剧
			</div>
		</div>
		
		<div style='margin-left:55px;'>
			<div class="row" style="border:6px solid #e7e8e8;float:left;width:15%;padding-top:50px;padding-bottom:50px;text-align:center;background:#e26c2d;color:#fff;font-size:16px;">
			艺术
			</div>
			<div class="row" style="border:6px solid #e7e8e8;float:left;width:15%;padding-top:50px;padding-bottom:50px;text-align:center;background:#f7c13e;color:#fff;font-size:16px;">
			音乐
			</div>
			<div class="row" style="border:6px solid #e7e8e8;float:left;width:30.6%;padding-top:50px;padding-bottom:50px;text-align:center;background:#769339;color:#fff;font-size:16px;">
			数学
			</div>
			<div class="row" style="border:6px solid #e7e8e8;float:left;width:30.6%;padding-top:50px;padding-bottom:50px;text-align:center;background:#4caec4;color:#fff;font-size:16px;">
			科技
			</div>
		</div>
		
		<div style='margin-left:55px;'>
			<div class="row" style="border:6px solid #e7e8e8;float:left;width:30.6%;padding-top:50px;padding-bottom:50px;text-align:center;background:#6d339d;color:#fff;font-size:16px;">
			世界
			</div>
			<div class="row" style="border:6px solid #e7e8e8;float:left;width:30.6%;padding-top:50px;padding-bottom:50px;text-align:center;background:#1d487b;color:#fff;font-size:16px;">
			世界文化
			</div>
			<div class="row" style="border:6px solid #e7e8e8;float:left;width:30.6%;padding-top:50px;padding-bottom:50px;text-align:center;background:#e26e2e;color:#fff;font-size:16px;">
			项目管理
			</div>
		</div>
		
	</div>
</div>
<div class="wrapper1" style="margin-top:40px;">
	<div class="container">
		<div class="inner_content">
			<h1 class="leapY">家校互通——全面营造学习氛围</h1>
			<div class="row" style="margin-top: 35px;margin-left: 30px">
				<div style="font-size:18px;">
					<img src="../img/hafo/屏幕快照.png" style="width:60%" class=" pull-right" alt="" />
						<div style="padding-top:90px;width:150px;text-align:center">
							<p style="line-height:30px;background:#ff8b17;padding:10px 40px;color:#fff;">爱作业<br>
							
							</p>
						</div>
						<div>
						多平互动的课后作业平台，满足多元化需求
						</div>
				</div>
				
			</div>
			
			
			
			<div class="row" style="margin-top: 35px;margin-left:30px;">
				<div class="title1" style="">
				<h2>哈佛教室展示</h2>
				</div>
			</div>
			<div class="row">
				<div class="span3 span22" >
					<img src="../img/hafo/哈佛教室.png"/>
				</div>
				<div class="span3 span22">
					<img src="../img/hafo/哈佛教室2.png"/>
				</div>
				<div class="span3 span22">
					<img src="../img/hafo/哈佛教室3.png"/>
				</div>
				<div class="span3 span22">
					<img src="../img/hafo/哈佛教室4.png"/>
				</div>
			</div>
			
			<div class="row" style="margin-top: 35px;margin-left:30px;">
				<div class="title1" style="">
				<h2>课堂展示</h2>
				</div>
			</div>
			<div class="row" >
				<div class="span3 span22" >
					<img src="../img/hafo/哈佛课堂展示.png"/>
				</div>
				<div class="span3 span22">
					<img src="../img/hafo/哈佛课堂展示2.png"/>
				</div>
				<div class="span3 span22">
					<img src="../img/hafo/哈佛课堂展示3.png"/>
				</div>
				<div class="span3 span22">
					<img src="../img/hafo/哈佛课堂展示4.png"/>
				</div>
			</div>
			<div class="row" style="margin-top: 35px;margin-left:30px;">
				<div class="title1" style="">
				<h2>哈佛活动</h2>
				</div>
			</div>
			<div class="row">
				<div class="span3 span22" >
					<img src="../img/hafo/新版哈佛证书2017.png"/>
				</div>
				<div class="span3 span22">
					<img src="../img/hafo/哈佛毕业证书.png"/>
				</div>
			</div>
			<div class="row" style="margin-top: 35px;margin-left:30px;">
				<div class="title1" style="">
				<h2>哈佛生日会</h2>
				</div>
			</div>
			<div class="row" style="margin-bottom:50px;">
				<div class="span3 span22" >
					<img src="../img/hafo/哈佛生日会.png"/>
				</div>
				<div class="span3 span22">
					<img src="../img/hafo/哈佛生日会2.png"/>
				</div>
				<div class="span3 span22">
					<img src="../img/hafo/哈佛生日会3.png"/>
				</div>
				<div class="span3 span22">
					<img src="../img/hafo/哈佛生日会4.png"/>
				</div>
			</div>
			
		</div>

	</div>
</div>


<!-- footer 2 -->
<div id="footer_alt" style="margin-top:0px;">
	<div class="container" ><div class="row">
		<!--column 1-->
		<div class="span3"  style="width:390px;padding-right:20px;">
			<h2>关于ABC</h2>
			<ul>
				<li>
					<p>
						ABC  教育集团是以外语培训为核心，集培训、研发、图书杂志音像出版、出国留学、 职业教育、 在线教育及教育软件研发为一体的大型综合教育集团。 目前在北京、 哈尔滨、 长沙、 广州、 宁波等多座城市开设23家直营分校。2011年ABC美国分部正式运营，迈出国际化进军的第一步，2014年与加拿大哥伦比亚国际学院结为姊妹校。历史二十载，用独特的教育方法和良好的口碑，打造出自主教学品牌。
					</p>
				</li>
			</ul>
		</div>
		<!--column 2-->
		<div class="span3" style="width:420px;">
			<h2>ABC课程</h2>
			<ul class="media-list">
				<li class="media">
					<div class="media-body">
						<a target='_blank' href="course.html">青少年口语</a>
						<a target='_blank' style='margin-left:30px;' href="http://special.zhaopin.com/2017/bf/abcw050392/">ABC招聘</a>
				</li>
				<li class="media">
					<div class="media-body">
						<a target='_blank' href="foreign.html">全外教口语</a>
						<a target='_blank' style='margin-left:30px;' href="cooperate.html">授权合作</a>
						<a class="btn btn-primary btn-custom btn-rounded " href="javascript:{}" style="margin-left:30px;padding:8px 25px;" onclick="TQKF.kefuimg.Distrabute()"><b>在线咨询</b></a>
					</div>
				</li>
				<li class="media">
					<div class="media-body">
						<a target='_blank' href="kaoji.html">国际考试类</a>
						<a target='_blank' style='margin-left:30px;' href="aboutUs.html">了解ABC</a>
						<h3 style="margin-left:30px;display:inline"><i class="fa fa-phone hue"></i>400-661-9888</h3>
				</li>
			</ul>
					<p style="font-size:18px;margin-top:30px;">
						All rights reserved Copyright &copy;
						ABC教育集团<br/>
					</p>
		</div>
		<div class="span4" style="width:230px;">
			
			<div class="follow_us2">
				<h3>关注我们</h3>
				<div style="display:inline;position:relative;">
					<img style="width:49%;" src="../img/share/wechat.png">
					<div style="left:22%;position:absolute;">微信二维码</div>
				</div>
				<div style="display:inline;position:relative;">
					<img style="width:49%;" src="../img/share/sina.png">
					<div style="position:absolute;left:22%">微博二维码</div>
				</div>
					
			</div>
		</div>

	</div>
	</div>
</div>

<!--表单部分-->
<div id="building-blocks" class="hidden-xs activated animated slideInRight modal1" >
	<div id="learn-more-flyout" class="block learn-more-block" style="">
		<div class="tab" id="tab" style="writing-mode: vertical-lr;padding-left:1rem;">预约试听</div>
		<div class="content form-wrapper seq-container" id="bd" style="display: none">
			<div class="inner-content"> <i class="icon-remove-circle icon-2x close"></i>
				<div style="width:274px;margin:10px 25px 0;">
					<form id="test-drive-form" class="config-form" action="" method="post" accept-charset="UTF-8" onsubmit="return yanzheng();">
						<div>
							<div id="test-drive-details">
								<div id="message-error"></div>
								<div class="form-item form-type-textfield form-item-lastname-td">
									<input  class="translate form-text required parsley-error" type="text" name="name" id="name" size="60" maxlength="50" value="孩子姓名" onfocus="if(this.value == '孩子姓名') this.value = ''" onblur="if(this.value == '') this.value = '孩子姓名'">
									<ul class="parsley-errors-list filled" id="parsley-id-2843">
									</ul>
								</div>
								<div class="form-item form-type-select form-item-cities-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" name='sex' id="sex" >
					  <option value="">性别</option>
					  <option value="男">男</option>
					  <option value="女">女</option>
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-8167">
				  </ul>
                  </span> </div>
								<div class="form-item form-type-select form-item-cities-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" name="year" id="year" >
					  <option value="">年龄</option>
					  <option value="1-3岁">1-3岁</option>
					  <option value="3-4.5岁">3-4.5岁</option>
					  <option value="4.5-6岁">4.5-6岁</option>
					  <option value="6-8岁">6-8岁</option>
					  <option value="8-10岁">8-10岁</option>
					  <option value="10-15岁">10-15岁</option>
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-8167">
				  </ul>
                  </span> </div>
								<div class="form-item form-type-textfield form-item-phonenumber-td">
									<input  class="translate form-text required" value="电话号码" type="text" name="phone" id="phone" size="60" onfocus="if(this.value == '电话号码') this.value = ''" onblur="if(this.value == '') this.value = '电话号码'" >
									<ul class="parsley-errors-list" id="parsley-id-3642">
									</ul>
								</div>
								<div class="form-item form-type-select form-item-provinces-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" data-parsley-trigger="change" name="province" id="province" >
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-4424">
				  </ul>
                  </span> </div>
								<div class="form-item form-type-select form-item-cities-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" data-parsley-trigger="change" name="center" id="city" >
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-8167">
				  </ul>
                  </span> </div>
							</div>
						</div>
						<input class="btn btn-block btn-turquoise submit" type="submit" value="提交" >
					</form>
					<p class="learn-more-privacy-note">
						我们会尽可能在24小时内联系您<br>
						<b>无需等待，可直接致电400-661-9888</b></p>
				</div>
			</div>
		</div>
	</div>

	<div id="learn-more-flyout" class="block learn-more-block" style="">
		<div class="tab1" style="writing-mode: vertical-lr;padding-left:1rem;"><a href="javascript:{}" style="color:white" onclick="TQKF.kefuimg.Distrabute()">在线咨询</a></div>
	</div>
	<div id="learn-more-flyout" class="block block2 learn-more-block" style="">
		<div class="tab2" style="position:relative;writing-mode: vertical-lr;padding-left:0.7rem;padding-top:0.7rem;">
			<img src="../img/weixin.png" width="60%" />
		</div>
		<div id="erweima" style="position:absolute;left:-8rem;bottom:-22px;display:none;" >
			<img src="../img/erweima.png" width="120px" />
		</div>
	</div>


</div>













<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/city.js" type="text/javascript"></script>
<script type="text/javascript" src="http://wwwcdn.firstleap.cn/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="http://wwwcdn.firstleap.cn/js/jquery.themepunch.plugins.min.js"></script>
<!-- slider settings -->
<script src="../js/formValidate.js"></script>
<script src="http://wwwcdn.firstleap.cn/js/jquery.touchSwipe.min.js"></script>
<script src="http://wwwcdn.firstleap.cn/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="http://wwwcdn.firstleap.cn/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="../js/scripts.js"></script>
<script>
	tab.onclick = function(){
		document.getElementById("bd").style.display = "block";
		document.getElementById("bd").style.background = "#e9e8e8";
	}
</script>
<script>
	init_city(city_datas,'province','city');
	//<![CDATA[
	$(document).ready(function() {
		if ($.fn.cssOriginal!=undefined)
			$.fn.css = $.fn.cssOriginal;
		$('.fullwidthbanner').revolution(
				{
					delay:5700,
					startwidth:1170,
					startheight:550,
					onHoverStop:"on",
					navigationType:"none",
					soloArrowLeftHOffset:0,
					soloArrowLeftVOffset:0,
					soloArrowRightHOffset:0,
					soloArrowRightVOffset:0,
					touchenabled:"on",
					fullWidth:"on",
					shadow:0,
					videoJsPath:"js/videojs/"
				});
	});
	//]]>
</script>

<SCRIPT type=text/javascript>
	function get(p){
//var url=location.search;
		var url= document.URL.toString();
		var tmpStr=p+"=";
		var tmp_reg=eval("/[\?&]"+tmpStr+"/i");
		if(url.search(tmp_reg)==-1)return null;
		else{
			var a=url.split(/[\?&]/);
			for(var i=0;i<a.length;i++)
				if(a[i].search(eval("/^"+tmpStr+"/i"))!=-1)return a[i].substring(tmpStr.length);
		}
	}
	var Par = document.getElementsByTagName("form");
	for(var i=0;i<Par.length;i++){
		var newinput = document.createElement("input");
		newinput.type="hidden";
		newinput.name="ad";
		newinput.value=get("ad");
		Par[i].appendChild(newinput);
	}
</SCRIPT>
<!-- carousel -->
<script type="text/javascript" src="../js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript">
	//<![CDATA[
	jQuery(document).ready(function($) {
		$("#slider_home").carouFredSel({ width : "100%", height : "auto",
			responsive : true,  circular : true, infinite	: false, auto : false,
			items : { width : 231, visible: { min: 1, max: 3 }
			},
			swipe : { onTouch : true, onMouse : true },
			scroll: { items: 3, },
			prev : { button : "#sl-prev", key : "left"},
			next : { button : "#sl-next", key : "right" }
		});
	});
	//]]>
</script>
<script language="JavaScript" src="http://float2006.tq.cn/floatcard?adminid=8818889&amp;sort=0"></script>

</body>
</html>
