<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="applicable-device" content="pc">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>abc国际儿童英语教育</title>
	<meta name="description" content="abc少儿英语">
	<meta name="keywords" content="儿童英语,幼儿英语,少儿英语,英语学习,如何教育孩子,幼教,育儿,幼儿英语班,abc英语">
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/theme.css" rel="stylesheet">
	<link href="../css/prettyPhoto.css" rel="stylesheet" type="text/css"/>
	<link href="../css/zocial.css" rel="stylesheet" type="text/css"/>
	<link href="../css/font-awesome.min.css" rel="stylesheet">
	<link href="../css/settings.css" rel="stylesheet" type="text/css"/>
	<link href="../css/alt_footer.css" rel="stylesheet" type="text/css"/>
	<link href="../css/main.css" rel="stylesheet">
	<link href="../css/add.css" rel="stylesheet">

	
	<script type="text/javascript">
	/*
		function browserRedirect() {
			var sUserAgent = navigator.userAgent.toLowerCase();
				var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
			var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
			var bIsMidp = sUserAgent.match(/midp/i) == "midp";
			var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
			var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
			var bIsAndroid = sUserAgent.match(/android/i) == "android";
			var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
			var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
			if ( bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM) {
			//移动端地址
				window.location.href="http://www.firstleap.cn/m";
			}
		}
		browserRedirect();
		*/
	</script>

	<style>
		.vjs-poster{
			background-size: 100% 100%;
		}
		.video-js, .vjs-no-js{
			background-size: 100% 100%;
			background-color: #2f67af;
		}
		#mi3_videowrap {
			Z-INDEX: 1006; POSITION: absolute; TEXT-ALIGN: right; PADDING-BOTTOM: 4px; PADDING-LEFT: 17px; WIDTH: 600px; PADDING-RIGHT: 17px; DISPLAY: none; BACKGROUND: #e6e4e3; HEIGHT:374px;border-radius: 6px;
			MARGIN-LEFT: -240px; OVERFLOW: hidden; TOP: 200px; PADDING-TOP: 0px; LEFT: 45%;
		}
		#mi3_videowrap .close {
			LINE-HEIGHT: 20px; COLOR: #333;
			opacity: 0.5;
		}
	</style>
</head>
<body>
<div class="header">
	<div class="container" >
		<!--logo-->
		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<i class="fa fa-bars"></i></button>
		<div class="logo">
			<a href="index.html"><img src="../img/logo.png" alt="abc英语" /></a>
		</div>
		<!--menu-->
		<nav id="main_menu">
			<div class="nav-collapse collapse">
				<ul class="nav nav-pills">
					<li class="dropdown"><a href="index.html">首页</a>
					</li>
					<li class="dropdown active active1">
					<a href="javascript:void(0)" >课程体系</a>
						<ul class="dropdown-menu" >
							<li>
								<a href="course.html">青少年英语</a>
							</li>
							<li>
								<a href="train.html">企业培训</a>
							</li>
							<li>
								<a href="summerCamp.html">冬夏令营</a>
							</li>
							<li>
								<a href="yoosure.html">国际留学</a>
							</li>
							<li>
								<a href="coaching.html">全科辅导</a>
							</li>
							<li>
								<a href="holiday.html" style='color:#029AFF'>寒暑假辅导</a>
							</li>
						</ul>
					</li>
					<li class="dropdown"><a href="nation.html">全国校区</a>
					</li>
					<li class="dropdown">
						<a href="cooperate.html">授权合作</a>
					</li>
					<li class="dropdown">
						<a href="javascript:void(0)">关于我们</a>
						<ul class="dropdown-menu">
							<li>
								<a href="aboutUs.html">品牌介绍</a>
							</li>
							<li>
								<a href="activity.html">精彩活动</a>
							</li>
							<li>
								<a target="_blank" href="http://special.zhaopin.com/2017/bf/abcw050392/">企业招聘</a>
							</li>
							<li>
								<a target="_blank" href="http://talk.abc.com.cn">在线学习</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<!--//header-->


	<div id="banner">
	<div class="container intro_wrapper">
	<div class="inner_content">
	<h2>&nbsp;&nbsp;</h2>
	<h2 class="title">中小学假期英语</h2>
	<h4 class="intro">
	想顺利通过小升初、初升高衔接吗？ABC暑期语法班、词汇班、写作班帮你迅速通关！想成为同龄人中的佼佼者吗？ABC中小学假期英语总有一个适合你！
	</h4>
	</div>
	</div>
	</div>



<div class="wrapper" style="padding-top: 0px">
	<div class="container">
		<div class="inner_content">
			<h1 class="leapY">小学课程</h1>
			<!--info boxes-->
			<div class="row" style="margin-top: 35px">
				<div class="span3 span4">
					<div class="tile tile1 tile2" style="">
						<img src="../img/holiday/yinbiaoxingquban.png"/>
						<h3 style="padding-bottom: 15px;margin-top: 15px">音标兴趣班</h3>
					</div>
				</div>

				<div class="span3 span4">
					<div class="tile tile1 tile2" style="">
						<img src="../img/holiday/xiaoxuecihuiban.png"/>
						<h3 style="padding-bottom: 15px;margin-top: 15px">小学词汇班</h3>
					</div>
				</div>
				
				<div class="span3 span4">
					<div class="tile tile1 tile2" style="">
						<img src="../img/holiday/xiaoxuejinjie.png"/>
						<h3 style="padding-bottom: 15px;margin-top: 15px">小学进阶英语</h3>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 35px">
				<div class="span3 span4">
					<div class="tile tile1 tile2">
						<img src="../img/holiday/xingainian.png"/>
						<h3 style="padding-bottom: 15px;margin-top: 15px">新概念英语</h3>
					</div>
				</div>
				<div class="span3 span4">
					<div class="tile tile1 tile2">
						<img src="../img/holiday/xiaoxuewaijiaokouyu.png"/>
						<h3 style="padding-bottom: 15px;margin-top: 15px">小学外教口语班</h3>
					</div>
				</div>
				<div class="span3 span4">
					<div class="tile tile1 tile2">
						<img src="../img/holiday/xiaoshengchuchongchiban.png"/>
						<h3 style="padding-bottom: 15px;margin-top: 15px">小升初衔接班</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="inner_content">
			<h1 class="leapY">中学课程</h1>
			<!--info boxes-->
			<div class="row" style="margin-top: 35px">
				<div class="span3 span4">
					<div class="tile tile1 tile2">
						<img src="../img/holiday/yinbiaoxingquban.png"/>
						<h3 style="padding-bottom: 15px;margin-top: 15px">音标兴趣班</h3>
					</div>
				</div>

				<div class="span3 span4">
					<div class="tile tile1 tile2">
						<img src="../img/holiday/zhongxueyufaban.png"/>
						<h3 style="padding-bottom: 15px;margin-top: 15px">中学语法班</h3>
					</div>
				</div>
				
				<div class="span3 span4">
					<div class="tile tile1 tile2">
						<img src="../img/holiday/xingainian.png"/>
						<h3 style="padding-bottom: 15px;margin-top: 15px">中学新概念</h3>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 35px">
				<div class="span3 span4">
					<div class="tile tile1 tile2">
						<img src="../img/holiday/xiaoxuewaijiaokouyu.png"/>
						<h3 style="padding-bottom: 15px;margin-top: 15px">中学外教口语</h3>
					</div>
				</div>
				<div class="span3 span4">
					<div class="tile tile1 tile2">
						<img src="../img/holiday/xiaoxuecihuiban.png"/>
						<h3 style="padding-bottom: 15px;margin-top: 15px">中学词汇班</h3>
					</div>
				</div>
				<div class="span3 span4">
					<div class="tile tile1 tile2">
						<img src="../img/holiday/yingyuzuowenban.png"/>
						<h3 style="padding-bottom: 15px;margin-top: 15px">英语作文班</h3>
					</div>
				</div>
			</div>
		</div>


			<div class="inner_content">
			<h1 class="leapY">特色课程</h1>
			<!--info boxes-->
			<div class="row" style="margin-top: 35px">
				<div class="span3 span4">
					<div class="tile tile1 tile15" style="">
						<img src="../img/holiday/xiaoshengchuxianjie.png"/>
						<h3 style="padding-bottom: 15px;margin-top: 15px;color:#fff;">小升初冲刺班</h3>
					</div>
				</div>
				<div class="span3 span4">
					<div class="tile tile1 tile15" style="">
						<img src="../img/holiday/xiaoxuejinjie.png"/>
						<h3 style="padding-bottom: 15px;margin-top: 15px;color:#fff;">中考冲刺班</h3>
					</div>
				</div>
				<div class="span3 span4">
					<div class="tile tile1 tile15" style="">
						<img src="../img/holiday/zhongzhuanzhuanxiangtifen.png"/>
						<h3 style="padding-bottom: 15px;margin-top: 15px;color:#fff;">中考专项提分班</h3>
					</div>
				</div>
			</div>
		</div>
		

		<div class="inner_content">
			<h1 class="leapY">考级集训</h1>
			<!--info boxes-->
			<div class="row" style="margin-top: 35px">
				<div class="span3 span4">
					<div class="tile tile1 tile16" style="">
						<img src="../img/holiday/sanyikouyu.png"/>
						<h3 style="padding-bottom: 15px;margin-top: 15px;color:#fff;">三一口语</h3>
					</div>
				</div>
				<div class="span3 span4">
					<div class="tile tile1 tile16" style="">
						<img src="../img/holiday/KET.png"/>
						<h3 style="padding-bottom: 15px;margin-top: 15px;color:#fff;">KET/PET/FCE</h3>
					</div>
				</div>
				<div class="span3 span4">
					<div class="tile tile1 tile16" style="">
						<img src="../img/holiday/jianqiaotongyong.png"/>
						<h3 style="padding-bottom: 15px;margin-top: 15px;color:#fff;">剑桥通用级考试</h3>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>

<div class="pad25"></div>
<div class="pad25"></div>
<img src="../img/holiday/shuqibanbanner.png">


<div class="container wrapper">
	<h2 class="center">中小学生暑假如何真正提升英语口语</h2>
<div class="inner_content">
			<div class="row">
			<div class="projects">
				<div class="tab-pane fade in active" data-category="category01">
					<img src="../img/holiday/iconcihui.png" style='height:132px;padding-top:45px;padding-left:100px;' class=" pull-left" alt="" />
					<div style='height:220px;background-color:#E4F5FF;'>
						<div style="padding:30px 30px 30px 342px;font-size:16px;">
							<p style="font-size:18px;color:#0E98FA;">1、帮助学生积累基础知识、确保学生储备足够的交流词汇量</p>
							<p style="line-height:30px;">ABC英语《少儿进阶英语课程》从比字母还要基础的“音标”开始教起，快速教会学生使用“音标”，拥有主动学习和扩展词汇量的能力；构词、构句体系的学习和语法点由易到难的逐步推进，非常适合小学生接受。一年半的时间，学员即可轻松学完小学课内6年涉及的所有英语知识，真正为开口练习口语做好储备。
							</p>
						</div>
					</div>
				</div>

				<div class="tab-pane fade in active" style="margin-top:20px;">
					<img src="../img/holiday/iconkouyu.png" style='height:132px;padding-top:45px;padding-right:100px;' class=" pull-right" alt="" />
					<div style='height:220px;background-color:#E4F5FF;'>
						<div style="padding:30px 30px 30px 30px;font-size:16px;">
							<p style="font-size:20px;color:#0E98FA;">2、模拟母语环境，让孩子像说汉语一样，轻松自信地开口说英语</p>
							<p style="line-height:30px;">ABC英语《少儿进阶英语课程》英语课堂采用“中外教结合”的授课方式，每次2小时中教课和1小时外教课。班级的小学员们每周都能有和外教在一起快乐学习、开心练口语的时间，在课堂上和外教在一起，只能说英语、把外教当成自己最好的朋友去接触，真正把说英语培养成自己的一种习惯。
							</p>
						</div>
					</div>
				</div>

				<div class="tab-pane fade in active " style="margin-top:20px;">
					<img src="../img/holiday/iconxiaoban.png" style='height:132px;padding-top:45px;padding-left:100px;' class=" pull-left" alt="" />
					<div style='height:220px;background-color:#E4F5FF;'>
						<div style="padding:30px 30px 30px 342px;font-size:16px;">
							<p style="font-size:20px;color:#0E98FA;">1、帮助学生积累基础知识、确保学生储备足够的交流词汇量</p>
							<p style="line-height:30px;">ABC英语《少儿进阶英语课程》英语课堂采用15人以内精品班型，“中外教结合”的授课方式和有限的学员人数确保外教老师能够有和每名学员互动练习口语的机会，再加上分组竞赛和比拼的形式，孩子们都争相抢答！让孩子们沉浸在超级火爆的大声说出流利口语的氛围中！ 
							</p>
						</div>
					</div>
				</div>

			</div>
			</div>
			
						
			<!-- //portfolio_block -->
		</div>
	</div>
</div>
<div class="pad25"></div>
<div class="pad25"></div>
<!-- footer 2 -->
<div id="footer_alt" style="margin-top:0px;">
	<div class="container" ><div class="row">
		<!--column 1-->
		<div class="span3"  style="width:390px;padding-right:20px;">
			<h2>关于ABC</h2>
			<ul>
				<li>
					<p>
						ABC  教育集团是以外语培训为核心，集培训、研发、图书杂志音像出版、出国留学、 职业教育、 在线教育及教育软件研发为一体的大型综合教育集团。 目前在北京、 哈尔滨、 长沙、 广州、 宁波等多座城市开设23家直营分校。2011年ABC美国分部正式运营，迈出国际化进军的第一步，2014年与加拿大哥伦比亚国际学院结为姊妹校。历史二十载，用独特的教育方法和良好的口碑，打造出自主教学品牌。
					</p>
				</li>
			</ul>
		</div>
		<!--column 2-->
		<div class="span3" style="width:420px;">
			<h2>ABC课程</h2>
			<ul class="media-list">
				<li class="media">
					<div class="media-body">
						<a target='_blank' href="course.html">青少年口语</a>
						<a target='_blank' style='margin-left:30px;' href="http://special.zhaopin.com/2017/bf/abcw050392/">ABC招聘</a>
				</li>
				<li class="media">
					<div class="media-body">
						<a target='_blank' href="foreign.html">全外教口语</a>
						<a target='_blank' style='margin-left:30px;' href="cooperate.html">授权合作</a>
						<a class="btn btn-primary btn-custom btn-rounded " href="javascript:{}" style="margin-left:30px;padding:8px 25px;" onclick="TQKF.kefuimg.Distrabute()"><b>在线咨询</b></a>
					</div>
				</li>
				<li class="media">
					<div class="media-body">
						<a target='_blank' href="kaoji.html">国际考试类</a>
						<a target='_blank' style='margin-left:30px;' href="aboutUs.html">了解ABC</a>
						<h3 style="margin-left:30px;display:inline"><i class="fa fa-phone hue"></i>400-661-9888</h3>
				</li>
			</ul>
					<p style="font-size:18px;margin-top:30px;">
						All rights reserved Copyright &copy;
						ABC教育集团<br/>
					</p>
		</div>
		<div class="span4" style="width:230px;">
			
			<div class="follow_us2">
				<h3>关注我们</h3>
				<div style="display:inline;position:relative;">
					<img style="width:49%;" src="../img/share/wechat.png">
					<div style="left:22%;position:absolute;">微信二维码</div>
				</div>
				<div style="display:inline;position:relative;">
					<img style="width:49%;" src="../img/share/sina.png">
					<div style="position:absolute;left:22%">微博二维码</div>
				</div>
					
			</div>
		</div>

	</div>
	</div>
</div>

<!--表单部分-->
<div id="building-blocks" class="hidden-xs activated animated slideInRight modal1" >
	<div id="learn-more-flyout" class="block learn-more-block" style="">
		<div class="tab" id="tab" style="writing-mode: vertical-lr;padding-left:1rem;">预约试听</div>
		<div class="content form-wrapper seq-container" id="bd" style="display: none">
			<div class="inner-content"> <i class="icon-remove-circle icon-2x close"></i>
				<div style="width:274px;margin:10px 25px 0;">
					<form id="test-drive-form" class="config-form" action="" method="post" accept-charset="UTF-8" onsubmit="return yanzheng();">
						<div>
							<div id="test-drive-details">
								<div id="message-error"></div>
								<div class="form-item form-type-textfield form-item-lastname-td">
									<input  class="translate form-text required parsley-error" type="text" name="name" id="name" size="60" maxlength="50" value="孩子姓名" onfocus="if(this.value == '孩子姓名') this.value = ''" onblur="if(this.value == '') this.value = '孩子姓名'">
									<ul class="parsley-errors-list filled" id="parsley-id-2843">
									</ul>
								</div>
								<div class="form-item form-type-select form-item-cities-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" name='sex' id="sex" >
					  <option value="">性别</option>
					  <option value="男">男</option>
					  <option value="女">女</option>
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-8167">
				  </ul>
                  </span> </div>
								<div class="form-item form-type-select form-item-cities-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" name="year" id="year" >
					  <option value="">年龄</option>
					  <option value="1-3岁">1-3岁</option>
					  <option value="3-4.5岁">3-4.5岁</option>
					  <option value="4.5-6岁">4.5-6岁</option>
					  <option value="6-8岁">6-8岁</option>
					  <option value="8-10岁">8-10岁</option>
					  <option value="10-15岁">10-15岁</option>
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-8167">
				  </ul>
                  </span> </div>
								<div class="form-item form-type-textfield form-item-phonenumber-td">
									<input  class="translate form-text required" value="电话号码" type="text" name="phone" id="phone" size="60" onfocus="if(this.value == '电话号码') this.value = ''" onblur="if(this.value == '') this.value = '电话号码'" >
									<ul class="parsley-errors-list" id="parsley-id-3642">
									</ul>
								</div>
								<div class="form-item form-type-select form-item-provinces-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" data-parsley-trigger="change" name="province" id="province" >
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-4424">
				  </ul>
                  </span> </div>
								<div class="form-item form-type-select form-item-cities-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" data-parsley-trigger="change" name="city" id="city" >
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-8167">
				  </ul>
                  </span> </div>
							</div>
						</div>
						<input class="btn btn-block btn-turquoise submit" type="submit" value="提交" >
					</form>
					<p class="learn-more-privacy-note">
						我们会尽可能在24小时内联系您<br>
						<b>无需等待，可直接致电400-661-9888</b></p>
				</div>
			</div>
		</div>
	</div>

	<div id="learn-more-flyout" class="block learn-more-block" style="">
		<div class="tab1" style="writing-mode: vertical-lr;padding-left:1rem;"><a href="javascript:{}" style="color:white" onclick="TQKF.kefuimg.Distrabute()">在线咨询</a></div>
	</div>
	<div id="learn-more-flyout" class="block block2 learn-more-block" style="">
		<div class="tab2" style="position:relative;writing-mode: vertical-lr;padding-left:0.7rem;padding-top:0.7rem;">
			<img src="../img/weixin.png" width="60%" />
		</div>
		<div id="erweima" style="position:absolute;left:-8rem;bottom:-22px;display:none;" >
			<img src="../img/erweima.png" width="120px" />
		</div>
	</div>


</div>













<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/city.js" type="text/javascript"></script>
<script type="text/javascript" src="http://wwwcdn.firstleap.cn/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="http://wwwcdn.firstleap.cn/js/jquery.themepunch.plugins.min.js"></script>
<!-- slider settings -->
<script src="../js/formValidate.js"></script>
<script src="http://wwwcdn.firstleap.cn/js/jquery.touchSwipe.min.js"></script>
<script src="http://wwwcdn.firstleap.cn/js/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="http://wwwcdn.firstleap.cn/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="../js/scripts.js"></script>
<script>
	tab.onclick = function(){
		document.getElementById("bd").style.display = "block";
		document.getElementById("bd").style.background = "#e9e8e8";
	}
</script>
<script>
	init_city(city_datas,'province','city');
	//<![CDATA[
	$(document).ready(function() {
		if ($.fn.cssOriginal!=undefined)
			$.fn.css = $.fn.cssOriginal;
		$('.fullwidthbanner').revolution(
				{
					delay:5700,
					startwidth:1170,
					startheight:550,
					onHoverStop:"on",
					navigationType:"none",
					soloArrowLeftHOffset:0,
					soloArrowLeftVOffset:0,
					soloArrowRightHOffset:0,
					soloArrowRightVOffset:0,
					touchenabled:"on",
					fullWidth:"on",
					shadow:0,
					videoJsPath:"js/videojs/"
				});
	});
	//]]>
</script>

<SCRIPT type=text/javascript>
	function get(p){
//var url=location.search;
		var url= document.URL.toString();
		var tmpStr=p+"=";
		var tmp_reg=eval("/[\?&]"+tmpStr+"/i");
		if(url.search(tmp_reg)==-1)return null;
		else{
			var a=url.split(/[\?&]/);
			for(var i=0;i<a.length;i++)
				if(a[i].search(eval("/^"+tmpStr+"/i"))!=-1)return a[i].substring(tmpStr.length);
		}
	}
	var Par = document.getElementsByTagName("form");
	for(var i=0;i<Par.length;i++){
		var newinput = document.createElement("input");
		newinput.type="hidden";
		newinput.name="ad";
		newinput.value=get("ad");
		Par[i].appendChild(newinput);
	}
</SCRIPT>
<!-- carousel -->
<script type="text/javascript" src="../js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript">
	//<![CDATA[
	jQuery(document).ready(function($) {
		$("#slider_home").carouFredSel({ width : "100%", height : "auto",
			responsive : true,  circular : true, infinite	: false, auto : false,
			items : { width : 231, visible: { min: 1, max: 3 }
			},
			swipe : { onTouch : true, onMouse : true },
			scroll: { items: 3, },
			prev : { button : "#sl-prev", key : "left"},
			next : { button : "#sl-next", key : "right" }
		});
	});
	//]]>
</script>
<script language="JavaScript" src="http://float2006.tq.cn/floatcard?adminid=8818889&amp;sort=0"></script>

</body>
</html>
