<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="applicable-device" content="pc">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ABC英语课程</title>
<meta name="description" content="励步创新的将精英课程融入到高科技教学环境里，坚持个性化小班制授课，提供2-3岁课程，3-10岁课程，10-15岁课程，精品短期课程及应用测试类。励步国际少儿英语致力于为2-15岁儿童提供全英文综合能力培养课程。">
<meta name="keywords" content="儿童英语,幼儿英语,少儿英语,英语学习,如何教育孩子,幼教,育儿,幼儿英语班,abc英语">
	<link href="../css/bootstrap.css" rel="stylesheet">
	<link href="../css/theme.css" rel="stylesheet">
	<link href="../css/prettyPhoto.css" rel="stylesheet" type="text/css"/>
	<link href="../css/zocial.css" rel="stylesheet" type="text/css"/>
	<link href="../css/font-awesome.min.css" rel="stylesheet">
	<link href="../css/settings.css" rel="stylesheet" type="text/css"/>
	<link href="../css/alt_footer.css" rel="stylesheet" type="text/css"/>
	<link href="../css/main.css" rel="stylesheet">
	<link href="../css/add.css" rel="stylesheet">
	<!--[if lt IE 9]>
	<script type="text/javascript" src="js/ie.js"></script>
	<script type="text/javascript" src="js/respond.js"></script>
	<style>
		#building-blocks .block.learn-more-block input[type="text"]{    width: 260px;}
		#building-blocks .form-select-overlay .form-select{width: 277px}
		#tab{padding: 10px}
		.point{width: 100%;height: 50px;background: #fbdc0f;color: #960;text-align: center;line-height: 50px;font-size: 16px}
		.goo,.inte{color:red}
		.goo:hover,.inte:hover{text-decoration: underline !important;color:red}
	</style>
	<![endif]-->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<style>
	.projects a{float:right;}
</style>
</head>

<body>
<!--[if lt IE 9]>
<div class="point">您的浏览器内核版本太低，建议您升级更高版本的<a href="http://www.google.cn/intl/zh-CN/chrome/browser/desktop/index.html" target="_blank"  class="goo"> Google Chrome </a> 或 <a href="https://support.microsoft.com/zh-cn/help/17621/internet-explorer-downloads" target="_blank" class="inte">Internet Explorer</a> 来体验更精彩的励步英语，您还不试试？
</div>
<![endif]-->
<!--header-->
	<div class="header">
	<div class="container" >
		<!--logo-->
		<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<i class="fa fa-bars"></i></button>
		<div class="logo">
			<a href="index.html"><img src="../img/logo.png" alt="abc英语" /></a>
		</div>
		<!--menu-->
		<nav id="main_menu">
			<div class="nav-collapse collapse">
				<ul class="nav nav-pills">
					<li class="dropdown"><a href="index.html">首页</a>
					</li>
					<li class="dropdown  active active1">
					<a href="javascript:void(0)">课程体系</a>
						<ul class="dropdown-menu">
							<li>
								<a href="course.html">青少年英语</a>
							</li>
							<li>
								<a href="train.html">企业培训</a>
							</li>
							<li>
								<a href="summerCamp.html">冬夏令营</a>
							</li>
							<li>
								<a href="yoosure.html" style='color:#029AFF'>国际留学</a>
							</li>
							<li>
								<a href="coaching.html">全科辅导</a>
							</li>
							<li>
								<a href="holiday.html">寒暑假辅导</a>
							</li>
						</ul>
					</li>
					<li class="dropdown"><a href="nation.html">全国校区</a>
					</li>
					<li class="dropdown">
						<a href="cooperate.html">授权合作</a>
					</li>
					<li class="dropdown">
						<a href="javascript:void(0)">关于我们</a>
						<ul class="dropdown-menu">
							<li>
								<a href="aboutUs.html">品牌介绍</a>
							</li>
							<li>
								<a href="activity.html">精彩活动</a>
							</li>
							<li>
								<a target="_blank" href="http://special.zhaopin.com/2017/bf/abcw050392/">企业招聘</a>
							</li>
							<li>
								<a target="_blank" href="http://talk.abc.com.cn">在线学习</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>
<div class="fullwidthbanner-container" style="border-bottom: 1px solid #f4f4f4">
	<div class="fullwidthbanner">
		<ul>
			<li data-transition="slideright" style="text-align: center">
				<img src="../img/yoosure/banner.jpg" />
			</li>
			
			
			<li data-transition="slideright" style="text-align: center">
				<img src="../img/yoosure/banner2.jpg"  />
			</li>
			
			
			
		</ul>
		<div class="tp-bannertimer tp-bottom"></div>
	</div>
</div>	
<div class="wrapper1" style="margin-bottom:100px;">
		<div class="container">
		<div style="margin-top:30px;background:#F3F3F3">
			<h2 class="center">ABC留学事业部介绍</h2>
			<div style="padding:20px 80px 40px 80px;font-size:16px">
			<p>
			ABC留学事业部是ABC教育集团下属的北京径成英教育文化发展有限公司的支柱部门。部门由数十名行业经验人均十年以上的专家团队老师组成，致力于提供专业的美国，英国，加拿大，澳洲，新西兰等国家的高端留学咨询服务。多年来，ABC集团留学事业部以高度的责任心，专业度以及敬业精神得到学生和家长的一致好评！专家老师们擅长根据学生现有的条件申请到最佳的学校和专业，为每个不同学生制定具个性化的申请方案，文书风格和签证方案，成功率一直保持高水准！
			</p>
			
			</div>
			<img src='../img/yoosure/图层-17.jpg'>
		</div>
		<div class="pad25"></div>
		<div class="pad25"></div>
		<h2 class="center">ABC留学特色</h2>
		<div class="inner_content">	
					<div class="img-bing" id="main5"style="width:100%;height:400px;"></div>
					<script type="text/javascript" src="../js/jquery.js"></script>
					<script src="../js/echarts.min.js" type="text/javascript"></script>
					<script type="text/javascript">
					var mychart = echarts.init(document.getElementById("main5"));
			        var option = {
						series : [
							{
								name: '访问来源',
								type: 'pie',
								radius : '80%',
								data:[
									{value:100, name:'专注于全球名校申请的高端留学品牌'},
									{value:100, name:'资讯申请签证境外服务等一站式服务体系'},
									{value:100, name:'专业地解决学生全阶段海外教育需求'},
									{value:100, name:'传统留学 短期留学 修学游等多元化项目'}
								],
								label : {
									normal : {
										textStyle : {
											fontWeight : 'normal',
											fontSize : 16
										},
									}
								}, 
								labelLine: {
									normal: {
										smooth: 0.2,
										length: 50,
									}
								},
								itemStyle: {
									emphasis: {
										shadowBlur: 100,
										shadowOffsetX: 0,
										shadowColor: 'rgba(0, 0, 0, 0.5)'
									}
								}
							}
						],
						color: ['#2FAABC','#363636','#E0D501','#E03650']
					};
					mychart.setOption(option);
					</script>
</div>
</div>
</div>

<div class="wrapper1" style="margin-bottom:100px;">
	<div class="container">
		<h2 class="center">KIP微留学</h2>
		<div style="font-size:16px;">
			<p style="line-height:22px;">
			美国是全球拥有最多教育资源的国家，中学30000多所，正规大学3000多所。美国学校有着世界公认的高质量教学模式，师资力量以及硬件设施。美国教育系统在院校，入学要求，学位项目，学术环境以及可供学习的专业领域方面提供了无可比拟的选择。
			</p>
		</div>
		<div class="inner_content">	
			<img style="width:54%;margin-top:90px;" src="../img/yoosure/KIP.png" class=" pull-left" alt="" />
			<h2 class="center">示范课程</h2>
			<img style="width:34%" src="../img/yoosure/shifankecheng.png" class=" pull-right" alt="" />
		</div>
	</div>
</div>


	<div class="wrapper1" style="background:#eee;padding-bottom:100px;">
		<div class="container">
		<h2 class="center">美国留学</h2>
		<div class="inner_content">	
			<div class="tab-pane fade in active">
				<img src="../img/yoosure/meiguoguoqi.png" style='height:200px;' class=" pull-right" alt="" />
				<div style='height:210px;'>
					<div style="padding:30px 345px 30px 0px;font-size:16px;">
						<p style="line-height:22px;">
						美国是全球拥有最多教育资源的国家，中学30000多所，正规大学3000多所。美国学校有着世界公认的高质量教学模式，师资力量以及硬件设施。美国教育系统在院校，入学要求，学位项目，学术环境以及可供学习的专业领域方面提供了无可比拟的选择。
						</p>
						<p style="line-height:22px;">
						学生一旦获得美国学生类型签证，就有机会工作和申请移民。学生家长可以申请10年旅游签同时赴美。各民族多元化组成平等，开放，自由的环境有利于学生更快更好的融入到美国学习和生活中。留美回国后的学生竞争力加强，有更多的机会获得高薪职位。
						</p>
					</div>
				</div>
			</div>
			<img src="../img/yoosure/meiguoditu.png" alt="" />
		</div>
		</div>
	</div>
	<div class="wrapper1" style="padding-bottom:100px;">
		<div class="container">
		<h2 class="center">留学加拿大</h2>
		<div class="inner_content">
			<div class="tab-pane fade in active">
				<img src="../img/yoosure/jianadaguoqi.png" style='height:200px;' class=" pull-left" alt="" />
				<div style='height:230px;'>
					<div style="padding:30px 30px 30px 342px;font-size:16px;">
						<p style="line-height:22px;">
						加拿大拥有世界上最完善的教育体系，拥有世界上一流的大学，中学，小学教育，学习条件世界一流。严格的教学质量管理使加拿大成为教育公信度最高的国家之一。加拿大证书全球通用。加拿大学费和生活费较为适中，性价比高。
						</p>
						<p style="line-height:22px;">
						加拿大是世界上最富裕的国家之一 社会福利好 被誉为老人和孩子的天堂。 加拿大又是一个多文化融合的移民国家，对于优秀人才一贯采取敞开大门的态度。加拿大政府规定 凡是取得政府认可的学历的学生都可以获得1-3年的工作签证。工作满一年就可以申请移民。
						</p>
					</div>
				</div>
			</div>
			<img src="../img/yoosure/jianadaditu.png" alt="" />
		</div>
		</div>
	</div>
	<div class="wrapper1" style="background:#eee;padding-bottom:100px;">
		<div class="container">
		<h2 class="center">留学澳洲</h2>
		<div class="inner_content">
			<div class="tab-pane fade in active">
				<img src="../img/yoosure/aozou.png" style='height:200px;' class=" pull-right" alt="" />
				<div style='height:210px;'>
					<div style="padding:30px 345px 30px 0px;font-size:16px;">
						<p style="line-height:22px;">
						澳洲教育质量具有一流的国际水准。全国有39所大学和230多所专科技术学院，还有几百所公立和私立中学。这些学校的课程和证书都是被世界各国认可和承认的。证书含金量高。</p>
						<p style="line-height:22px;">
						澳洲学生签证覆盖整个留学周期，留学生无需反复续签。澳洲政府允许留学生在课余时间打工，学生毕业后还有2-3年的工作签证。同时澳洲是世界上最大的移民国家之一，宽松的移民政策和就业前景，学生完成学业后有回国和移民双向选择。
						</p>
					</div>
				</div>
			</div>
			<img src="../img/yoosure/aozouditu.png" alt="" />
		</div>
		</div>
	</div>

	<div class="wrapper1" style="padding-bottom:100px;">
		<div class="container">
		<h2 class="center">留学英国</h2>
		<div class="inner_content">
			<div class="tab-pane fade in active">
				<img src="../img/yoosure/yingguo.png" style='height:200px;' class=" pull-left" alt="" />
				<div style='height:230px;'>
					<div style="padding:40px 30px 30px 342px;font-size:16px;">
						<p style="line-height:22px;">
						英国教育历史悠久 全球影响力广泛。至今培养出了上百位诺贝尔奖得主。英国学制短 密集型课程，节省了学生时间和家庭资金等成本。在英国读书的学生每周可以合法打工，节假日可以全职工作。
						</p>
						<p style="line-height:22px;">
						英国签证方便快捷 签证资金只需要28天存期历史，不需要提供父母收入证明。英国自然风光秀丽，城市环境整洁，小镇古朴恬静 是治安最好的国家之一。
						</p>
					</div>
				</div>
			</div>
			<img src="../img/yoosure/yingguoditu.png" alt="" />
		</div>
		</div>
	</div>
	<!-- footer 2 -->

    <div id="footer_alt" style="margin-top:0px;">
	<div class="container" ><div class="row">
		<!--column 1-->
		<div class="span3"  style="width:390px;padding-right:20px;">
			<h2>关于ABC</h2>
			<ul>
				<li>
					<p>
						ABC  教育集团是以外语培训为核心，集培训、研发、图书杂志音像出版、出国留学、 职业教育、 在线教育及教育软件研发为一体的大型综合教育集团。 目前在北京、 哈尔滨、 长沙、 广州、 宁波等多座城市开设23家直营分校。2011年ABC美国分部正式运营，迈出国际化进军的第一步，2014年与加拿大哥伦比亚国际学院结为姊妹校。历史二十载，用独特的教育方法和良好的口碑，打造出自主教学品牌。
					</p>
				</li>
			</ul>
		</div>
		<!--column 2-->
		<div class="span3" style="width:420px;">
			<h2>ABC课程</h2>
			<ul class="media-list">
				<li class="media">
					<div class="media-body">
						<a target='_blank' href="course.html">青少年口语</a>
						<a target='_blank' style='margin-left:30px;' href="http://special.zhaopin.com/2017/bf/abcw050392/">ABC招聘</a>
				</li>
				<li class="media">
					<div class="media-body">
						<a target='_blank' href="foreign.html">全外教口语</a>
						<a target='_blank' style='margin-left:30px;' href="cooperate.html">授权合作</a>
						<a class="btn btn-primary btn-custom btn-rounded " href="javascript:{}" style="margin-left:30px;padding:8px 25px;" onclick="TQKF.kefuimg.Distrabute()"><b>在线咨询</b></a>
					</div>
				</li>
				<li class="media">
					<div class="media-body">
						<a target='_blank' href="kaoji.html">国际考试类</a>
						<a target='_blank' style='margin-left:30px;' href="aboutUs.html">了解ABC</a>
						<h3 style="margin-left:30px;display:inline"><i class="fa fa-phone hue"></i>400-661-9888</h3>
				</li>
			</ul>
					<p style="font-size:18px;margin-top:30px;">
						All rights reserved Copyright &copy;
						ABC教育集团<br/>
					</p>
		</div>
		<div class="span4" style="width:230px;">
			
			<div class="follow_us2">
				<h3>关注我们</h3>
				<div style="display:inline;position:relative;">
					<img style="width:49%;" src="../img/share/wechat.png">
					<div style="left:22%;position:absolute;">微信二维码</div>
				</div>
				<div style="display:inline;position:relative;">
					<img style="width:49%;" src="../img/share/sina.png">
					<div style="position:absolute;left:22%">微博二维码</div>
				</div>
					
			</div>
		</div>

	</div>
	</div>
</div>

<!--表单部分-->
<div id="building-blocks" class="hidden-xs activated animated slideInRight modal1" >
	<div id="learn-more-flyout" class="block learn-more-block" style="">
		<div class="tab" id="tab" style="writing-mode: vertical-lr;padding-left:1rem;">预约试听</div>
		<div class="content form-wrapper seq-container" id="bd" style="display: none">
			<div class="inner-content"> <i class="icon-remove-circle icon-2x close"></i>
				<div style="width:274px;margin:10px 25px 0;">
					<form id="test-drive-form" class="config-form" action="" method="post" accept-charset="UTF-8" onsubmit="return yanzheng();">
						<div>
							<div id="test-drive-details">
								<div id="message-error"></div>
								<div class="form-item form-type-textfield form-item-lastname-td">
									<input  class="translate form-text required parsley-error" type="text" name="name" id="name" size="60" maxlength="50" value="孩子姓名" onfocus="if(this.value == '孩子姓名') this.value = ''" onblur="if(this.value == '') this.value = '孩子姓名'">
									<ul class="parsley-errors-list filled" id="parsley-id-2843">
									</ul>
								</div>
								<div class="form-item form-type-select form-item-cities-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" name='sex' id="sex" >
					  <option value="">性别</option>
					  <option value="男">男</option>
					  <option value="女">女</option>
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-8167">
				  </ul>
                  </span> </div>
								<div class="form-item form-type-select form-item-cities-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" name="year" id="year" >
					  <option value="">年龄</option>
					  <option value="1-3岁">1-3岁</option>
					  <option value="3-4.5岁">3-4.5岁</option>
					  <option value="4.5-6岁">4.5-6岁</option>
					  <option value="6-8岁">6-8岁</option>
					  <option value="8-10岁">8-10岁</option>
					  <option value="10-15岁">10-15岁</option>
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-8167">
				  </ul>
                  </span> </div>
								<div class="form-item form-type-textfield form-item-phonenumber-td">
									<input  class="translate form-text required" value="电话号码" type="text" name="phone" id="phone" size="60" onfocus="if(this.value == '电话号码') this.value = ''" onblur="if(this.value == '') this.value = '电话号码'" >
									<ul class="parsley-errors-list" id="parsley-id-3642">
									</ul>
								</div>
								<div class="form-item form-type-select form-item-provinces-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" data-parsley-trigger="change" name="province" id="province" >
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-4424">
				  </ul>
                  </span> </div>
								<div class="form-item form-type-select form-item-cities-td">
                  <span class="form-select-overlay">
                  <select class="translate form-select" data-parsley-trigger="change" name="city" id="city" >
				  </select>
                  <ul class="parsley-errors-list" id="parsley-id-8167">
				  </ul>
                  </span> </div>
							</div>
						</div>
						<input class="btn btn-block btn-turquoise submit" type="submit" value="提交" >
					</form>
					<p class="learn-more-privacy-note">
						我们会尽可能在24小时内联系您<br>
						<b>无需等待，可直接致电400-661-9888</b></p>
				</div>
			</div>
		</div>
	</div>

	<div id="learn-more-flyout" class="block learn-more-block" style="">
		<div class="tab1" style="writing-mode: vertical-lr;padding-left:1rem;"><a href="javascript:{}" style="color:white" onclick="TQKF.kefuimg.Distrabute()">在线咨询</a></div>
	</div>
	<div id="learn-more-flyout" class="block block2 learn-more-block" style="">
		<div class="tab2" style="position:relative;writing-mode: vertical-lr;padding-left:0.7rem;padding-top:0.7rem;">
			<img src="../img/weixin.png" width="60%" />
		</div>
		<div id="erweima" style="position:absolute;left:-8rem;bottom:-22px;display:none;" >
			<img src="../img/erweima.png" width="120px" />
		</div>
	</div>


</div>
<!--表单end-->
<!-- SCRIPTS -->


<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/city.js" type="text/javascript"></script>
<script type="text/javascript" src="../js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="../js/jquery.themepunch.plugins.min.js"></script>
<!-- slider settings -->
<script src="../js/formValidate.js"></script>
<script type="text/javascript" src="../js/scripts.js"></script>
<script>
	tab.onclick = function(){
		document.getElementById("bd").style.display = "block";
		document.getElementById("bd").style.background = "#e9e8e8";
	}
</script>
<script>
	init_city(city_datas,'province','city');
	//<![CDATA[
	$(document).ready(function() {
		if ($.fn.cssOriginal!=undefined)
			$.fn.css = $.fn.cssOriginal;
		$('.fullwidthbanner').revolution(
				{
					delay:5700,
					startwidth:1170,
					startheight:550,
					onHoverStop:"on",
					navigationType:"none",
					soloArrowLeftHOffset:0,
					soloArrowLeftVOffset:0,
					soloArrowRightHOffset:0,
					soloArrowRightVOffset:0,
					touchenabled:"on",
					fullWidth:"on",
					shadow:0,
					videoJsPath:"js/videojs/"
				});
	});
	//]]>
</script>

<SCRIPT type=text/javascript>
	function get(p){
//var url=location.search;
		var url= document.URL.toString();
		var tmpStr=p+"=";
		var tmp_reg=eval("/[\?&]"+tmpStr+"/i");
		if(url.search(tmp_reg)==-1)return null;
		else{
			var a=url.split(/[\?&]/);
			for(var i=0;i<a.length;i++)
				if(a[i].search(eval("/^"+tmpStr+"/i"))!=-1)return a[i].substring(tmpStr.length);
		}
	}
	var Par = document.getElementsByTagName("form");
	for(var i=0;i<Par.length;i++){
		var newinput = document.createElement("input");
		newinput.type="hidden";
		newinput.name="ad";
		newinput.value=get("ad");
		Par[i].appendChild(newinput);
	}
</SCRIPT>
<!-- carousel -->
<script type="text/javascript" src="../js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript">
	//<![CDATA[
	jQuery(document).ready(function($) {

		$("#slider_home").carouFredSel({ width : "100%", height : "auto",
			responsive : true,  circular : true, infinite	: false, auto : false,
			items : { width : 231, visible: { min: 1, max: 3 }
			},
			swipe : { onTouch : true, onMouse : true },
			scroll: { items: 3, },
			prev : { button : "#sl-prev", key : "left"},
			next : { button : "#sl-next", key : "right" }
		});
	});
	//]]>
</script>
<script language="JavaScript" src="http://float2006.tq.cn/floatcard?adminid=8818889&amp;sort=0"></script>
</body>
</html>
